.containerTier{
    display: flex;
    flex-direction: row;
}
.paddingTop{
    margin-top:1.5rem;
    border-top: 2px solid var(--border-color);
}

.containerChampionTierList {
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
}


