.infoComp {
    display:none;
    flex-direction: column;
    position: relative;
    gap: 5px;
    margin: 5px 0px;
    width: 100%;
    border: 2px solid var(--border-color);
    box-sizing: border-box;
  }

  .btnClose {
    display: flex;
    position: static;
    width: 20px;
    height: auto;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
    background-color: var(--border-color);
    border: 1px solid var(--border-color);
    padding: 0px 5px;
    border-radius: 0px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .btnClose:hover {
    background-color: var(--bg-secondary);
    color: white;
  }

  .titulo {
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .sinergiasText {
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
  }

  .sinergiasSpan {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1rem;
  }

  .composicionDiv {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  .composicionImg {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1.81 / 1;
  }

  .containerCompo {
    display: flex;
    flex-direction: row;
  }

  .containerChampEspatula {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 10%;
  }

  .campeonEspatula {
    width: 100%;
    height: auto;
    transform: scale(0.9);
    transition: 0.5s;
  }

  .campeonEspatula:hover {
    transform: scale(1);
  }

  .infoComp.show {
    display:flex;
  }

  .selected {
    transform: scale(1);
  }

  @media only screen and (min-width: 900px) {
    .titulo {
      font-size: 2rem;
    }
    .composicionDiv {
      width: 90%;
    }
  }