.skeleton{
    animation: text_loading 0.5s linear infinite alternate;
}

.skeleton_text{
    width: 50%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: .125rem;
}

.skeleton_champmeta{
    width: var(--number-champ-meta);
    background-color: aqua;
}

.skeleton_height{
    height: 20rem;
}

