---

---

<div class="containerBoard">
  <div class="board">
    <div class="hex"></div>
  </div>
</div>
<div class="containerChampions">
  <div class="busquedaChampeon"></div>
  <div class="pestanasChampions">nombre costo origen clase</div>
  <div class="containerchampionsList">
    <div class="championsList"></div>
  </div>
</div>
<div class="containerObjetos">
  <div class="pestanasItems">crafteables radiantes otros</div>
  <div id="crafteables" class="containerObjectsList"></div>
  <div id="radiantes" class="containerObjectsList"></div>
  <div id="otros" class="containerObjectsList">
    elusive emblem artifacts supportItems inkShadowTattoos kayleUpgrades
  </div>
</div>
