---
import Menu from './Menu.astro';
const menus = [
  {
    nombre: 'Meta Comps',
    link: '/composiciones-tft/mejores-composiciones-de-teamfight-tactics/',
  },
  {
    nombre: 'Top Ladder',
    link: '/top-ladder/',
  },
  {
    nombre: 'Builder',
    link: '/builder-tft/',
  },
  {
    nombre: 'Campeones',
    link: '/campeones/',
  },
  {
    nombre: 'Aumentos',
    link: '/aumentos/',
  },
  {
    nombre: 'Guias',
    link: '/guias/',
  },
];
---

<header transition:persist>
  <nav>
    <div class="menuContainer">
      {
        menus.map((menu) => {
          return <Menu link={menu.link} nombre={menu.nombre} />;
        })
      }
    </div>
  </nav>
</header>

<style>
  .menuContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 900px) {
    .menuContainer {
      flex-wrap: wrap;
    }
  }
</style>
