---
import Menu from './Menu.astro';

const menus = [
  {
    nombre: 'Meta Comps',
    link: '/composiciones-tft/mejores-composiciones-de-teamfight-tactics/',
  },
  {
    nombre: 'Top Ladder',
    link: '/top-ladder/',
  },
  {
    nombre: 'Builder',
    link: '/builder-tft/',
  },
  {
    nombre: 'Campeones',
    link: '/campeones/',
  },
  {
    nombre: 'Aumentos',
    link: '/aumentos/',
  },
  {
    nombre: 'Guias',
    link: '/guias/',
  },
  {
    nombre: 'Guias',
    link: '/guias/',
  },
];
---

<header>
  <nav>
    <div class="menuContainer">
      {
        menus.map((menu) => {
          return <Menu link={menu.link} nombre={menu.nombre} />;
        })
      }
    </div>
  </nav>
</header>

<style>
  header{
    display: flex;
    width:100%;
    box-sizing: border-box;
    height: 5rem;
    overflow: auto;
    white-space: nowrap;
    flex:1
  }
  nav{
    display: flex;
    width:100%;
    box-sizing: border-box;
    justify-content: center;
    background-color: var(--bg-primary)
  }
  .menuContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 10px;
    align-items: center;
    /* justify-content: center; */
    /* width:50%; */
   
    box-sizing: border-box;
  }

  @media only screen and (min-width: 900px) {
    header {
      width: 100%;
      white-space: break-spaces;
      scrollbar-width: thin;
      overflow-x: none;
    }
  }
</style>
