---
import SubMenus from './SideMenu.astro';
const currentPath = Astro.url.pathname;
interface Props {
  nombre: string;
  link: string;
}

const { link, nombre } = Astro.props;
---
<a
  class:list={['menuItem', currentPath === link ? 'active' : '']}
  href={currentPath === link ? null: link}
  target="_self"
>
  {nombre}
</a>

<style>
  .menuItem {
    display: flex;
    position: relative;
    background-color: var(--bg-secondary);
    color: var(--color-primary);
    box-sizing: border-box;
    text-decoration: none;
    padding: 1rem;

  }
  .menuItem:hover:not(.active){
    background-color: var(--bg-tertiary);
  }

  .active {
    background-color: var(--bg-main);
    cursor:pointer;
  }
</style>
