---
import SubMenus from './SubMenus.astro';

interface Props {
  nombre: string;
  link: string;
}

const { link, nombre } = Astro.props;
---

<a class="menuItem" href={link} target="_self" data-astro-history="auto">
  {nombre}
</a>

<script>
  const anchor = document.querySelectorAll('.menuItem');
  anchor.forEach((menu) => {
    menu.addEventListener('click', () => {
      menu.classList.add('active');

      // if (menuActive) {
      //   menuActive.classList.remove('active');
      // }
    });
  });
</script>

<style>
  .menuItem {
    display: flex;
    position: relative;
    background-color: var(--bg-secondary);
    color: var(--color-primary);
    box-sizing: border-box;
    padding: 5px;
    text-decoration: none;
    border: 2px solid white;
  }
  .menuItem:hover {
    background-color: var(--bg-hover);
    border-bottom-color: transparent;
  }

  .active {
    border-bottom-color: transparent;
    background-color: var(--bg-tertiary);
  }
</style>
