.menuContainer {
  position: relative;
  display: flex;
}

.menuItem {
  display: flex;
  background-color: var(--bg-secondary);
  color: var(--color-primary);
  text-decoration: none;
  padding: 1rem;
  position: relative;
}

.menuItem:hover:not(.active) {
  background-color: var(--bg-tertiary);
}

.active {
  background-color: var(--bg-hover);
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--bg-secondary);
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  border-radius: 0 0 8px 8px;
  min-width: 200px;
}

.menuContainer:hover .submenu {
  display: block;
}

.submenuItem {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: var(--color-secondary);
}

.submenuItem:hover {
  background-color: var(--bg-tertiary);
}

.submenuItem.active {
  background-color: var(--bg-main);
}

.menuImg {
  max-height: 2.5rem; /* puedes ajustar esto */
  height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
}
