---
import SubMenus from './SubMenus.astro';
const currentPath = Astro.url.pathname;
console.log(currentPath);
interface Props {
  nombre: string;
  link: string;
}

const { link, nombre } = Astro.props;
---

<a
  class:list={['menuItem', currentPath === link ? 'active' : '']}
  href={link}
  target="_self"
>
  {nombre}
</a>

<style>
  .menuItem {
    display: flex;
    position: relative;
    background-color: var(--bg-secondary);
    color: var(--color-primary);
    box-sizing: border-box;
    padding: 5px;
    text-decoration: none;
    border: 2px solid white;
  }
  .menuItem:hover {
    background-color: var(--bg-hover);
    border-bottom-color: transparent;
  }

  .active {
    border-color: var(--border-color);
    border-bottom-color: transparent;
    background-color: var(--bg-tertiary);
  }
</style>
