---
import SubMenus from './SubMenus.astro';

interface Props {
  nombre: string;
  link: string;
}

const { link, nombre } = Astro.props;
---

<a class="menuItem" href={link} target="_self">
  {nombre}
</a>

<style>
  .menuItem {
    display: flex;
    position: relative;
    background-color: var(--bg-secondary);
    color: var(--color-primary);
    box-sizing: border-box;
    padding: 5px;
    text-decoration: none;
    border: 2px solid white;
  }
  .menuItem:hover {
    background-color: var(--bg-hover);
    border-bottom-color: transparent;
  }

  .menuItem .active {
    border-bottom-color: transparent;
  }
</style>
