---
const currentPath = Astro.url.pathname;
interface SubMenuItem {
  nombre: string;
  link: string;
}
interface Props {
  nombre: string;
  link: string;
  submenu?: SubMenuItem[];
  img?: string;
}

const { link, nombre, submenus = [], img = "" } = Astro.props;
---
<div class="menuContainer">
  <a
    class:list={['menuItem', currentPath === link ? 'active' : '']}
    href={currentPath === link ? null : link}
    target="_self"
  >
     {img
      ? <img src={img} alt={nombre} class="menuImg" />
      : nombre
    }
  </a>

  {submenus.length > 0 &&
    <ul class="submenu">
      {submenus.map(item => (
        <li>
          <a
            class:list={['submenuItem', currentPath === item.link ? 'active' : '']}
            href={currentPath === item.link ? null : item.link}
          >
            {item.nombre}
          </a>
        </li>
      ))}
    </ul>
  }
</div>


<style>
  .menuContainer {
  position: relative;
  display: flex;
}

.menuItem {
  display: flex;
  color: var(--color-primary);
  text-decoration: none;
  padding: 1rem;
  position: relative;
}

.menuItem:hover:not(.active) {
  background-color: var(--bg-tertiary);
}

.active {
  background-color: var(--bg-main);
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--bg-secondary);
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  border-radius: 0 0 8px 8px;
  min-width: 200px;
}

.menuContainer:hover .submenu {
  display: block;
}

.submenuItem {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: var(--color-secondary);
}

.submenuItem:hover {
  background-color: var(--bg-tertiary);
}

.submenuItem.active {
  background-color: var(--bg-main);
}

.menuImg {
  max-height: 2.5rem; /* puedes ajustar esto */
  height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
}

</style>
