.menuContainer {
  position: relative;
  display: flex;
  height: var(--height-header);
  align-items: center;
  /* aspect-ratio: 1 / 1; */
}

.menuItem {
  display: flex;
  color: var(--color-primary);
  text-decoration: none;
  padding: 1rem;
  position: relative;
}

.menuItem:hover:not(.active) {
  background-color: var(--bg-primary-solid);
}

.active {
  background-color: var(--bg-primary-solid);
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--bg-main-secondary);
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  border-radius: 0 0 8px 8px;
  min-width: 200px;
}

.menuContainer:hover > .submenu {
  display: block;
}

.submenuLi {
  position: relative;
  border-bottom: 1px solid #ffffff21;
}

.submenuLi:hover > .submenu {
  display: block;
  top: 0;
  left: 100%;
}

.submenuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: var(--color-secondary);
}

.submenuItem:hover {
  background-color: var(--bg-primary-solid);
}

.submenuItem.active {
  background-color: var(--bg-main);
}

.menuImg {
  max-height: 2.5rem; /* puedes ajustar esto */
  height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
}

.arrow {
  font-size: 0.6em;
  margin-left: 0.5rem;
  opacity: 0.7;
}

.scrollableSubmenu {
  max-height: 60vh;
  overflow-y: auto;
  scrollbar-gutter: stable;

}

/* Custom Scrollbar for Webkit */
.scrollableSubmenu::-webkit-scrollbar {
  width: 6px;
}
.scrollableSubmenu::-webkit-scrollbar-track {
  background: var(--bg-main-secondary);
  border-radius: 0 8px 8px 0;
}
.scrollableSubmenu::-webkit-scrollbar-thumb {
  background-color: var(--bg-purple-primary, #321139);
  border-radius: 4px;
}
.scrollableSubmenu::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-purple-hover-primary, #4d1657);
}
