.adsense_container {
    display: flex;
    position: relative;
    width: 100%;
    margin: 1rem 0;
  }
  .adsense_vertical {
    display: none;
  }
  .adsense_horizontal {
    display: flex;
  }
  .adsense_cuadrado{
    display:flex;
  }
  ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
  }
  ins#google-anno-sa{
    display: none !important;
  }
  @media only screen and (min-width: 900px) {
    .adsense_container {
      position: fixed;
    }
    .adsense_vertical {
      display: flex;
      width: calc((100vw - var(--width-main)) / 2);
    }
  }