.adsense_container {
  display: flex;
  position: relative;
  width: 100%;
  margin: 1rem 0;
  min-width: 90px;
  transition: all 0.3s ease-in-out; /* Transición suave */
}

.adsense_vertical {
  display: none;
}

.adsense_horizontal {
  display: flex;
  justify-content: center;
  height: auto;
}

.adsense_cuadrado {
  display: flex;
}

.adsense_container_relative {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 100px;
  transition: all 0.3s ease-in-out; /* Transición suave */
}

ins.adsbygoogle[data-ad-status="unfilled"] {
  display: none !important;
  visibility: hidden;
  opacity: 0;
}

ins.adsbygoogle[data-ad-status="filled"] {
  display: flex;
  visibility: visible;
  opacity: 1;
}

ins#google-anno-sa {
  display: none !important;
}

/* Mostrar anuncios verticales sólo en pantallas mayores a 900px */
@media only screen and (min-width: 900px) {
  .adsense_vertical {
    display: flex;
    width: calc((100vw - var(--width-main)) / 2);
    position: sticky;
    top: calc(var(--height-header));
    /* top: 0px; */
    padding: 5px;
    box-sizing: border-box;
    height: 100vh;
    align-items: center;
  }

  .adsense_vertical.left {
    left: 0;
    top: calc(var(--height-header) + 16px);
  }

  .adsense_vertical.right {
    right: 0;
    top: calc(var(--height-header) + 16px);
  }
}
