---
const {direction} = Astro.props;
let right;
let left;
if(direction === "left"){
  left = 0;
}else{
  right = 0;
}
---

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6116944495372863"
     crossorigin="anonymous"></script>
<!-- Adaptable Cuadrado -->
 <div class="publicidad">
   <ins class="adsbygoogle"
        style="display:block;width:100%"
        data-ad-client="ca-pub-6116944495372863"
        data-ad-slot="4837474033"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
 </div>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<style define:vars={{right, left}}>
  .publicidad{
    display: flex;
    position: relative;
    width: 100%;
    top:5rem;
    right:var(--right);
    left:var(--left);
  }
  @media only screen and (min-width:900px){
    .publicidad{
      width:25%;
      position: absolute;
    }
  }
</style>