---
import { db, Usuario, asc, desc } from 'astro:db';
import { updateUsersScores } from '../../db/index.js';
import { sql } from 'astro:db';
const filtro = Astro.url.searchParams.get('filter');
const orden = Astro.url.searchParams.get('order');
let update = Astro.url.searchParams.get('update');

const d = new Date();
let time = d.getTime();

const usuarios = await db
  .select({
    ladder: sql`(SELECT COUNT(*) + 1 
             FROM usuarios AS u 
             WHERE 
                CASE
                    WHEN u.rango = usuarios.rango THEN u.nivel < usuarios.nivel
                    ELSE 
                        CASE
                            WHEN u.rango = 'capitan' THEN usuarios.rango IN ('teniente', 'cabo')
                            WHEN u.rango = 'teniente' THEN usuarios.rango = 'cabo'
                            ELSE FALSE
                        END
                END
            ) AS ladder`,
    tier: Usuario.tier,
    etiqueta: Usuario.etiqueta,
    invocador: Usuario.invocador,
    eliminado: Usuario.eliminado,
    eventoNombre: Usuario.eventoNombre,
    leaguePoints: Usuario.leaguePoints,
    profileIconId: Usuario.profileIconId,
    plataforma: Usuario.plataforma,
    puntaje: Usuario.puntaje,
    id: Usuario.id,
  })
  .from(Usuario)
  .orderBy(opcionesOrder({ filtro, orden }));

console.log('update', update);
console.log('time', time);
if (update && Number(update) < time) {
  console.log(Number(update) < time);
  try {
    usuarios.forEach((usuario) => {
      updateUsersScores({
        summonerId: usuario.id,
        plataforma: usuario.plataforma,
      });
    });
  } catch (error) {
    console.log(error);
  }
  console.log('actualizo');
}

function opcionesOrder({ filtro = 'puntaje', orden = 'desc' }) {
  const variables = ['asc', 'desc', 'puntaje', 'region', 'invocador'];
  if (
    !variables.includes(filtro?.toLowerCase()) &&
    !variables.includes(orden?.toLowerCase())
  ) {
    return desc(Usuario.puntaje), asc(Usuario.leaguePoints);
  }
  const order = {
    asc: {
      puntaje: (asc(Usuario.puntaje), desc(Usuario.leaguePoints)),
      region: asc(Usuario.region),
      invocador: asc(Usuario.invocador),
    },
    desc: {
      puntaje: desc(Usuario.puntaje),
      region: desc(Usuario.region),
      invocador: desc(Usuario.invocador),
    },
  };
  return order[orden?.toLowerCase()][filtro];
}

const URL = {
  profileIcon:
    'https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/profile-icons/',
  tierIcon:
    'https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-shared-components/global/default/',
  miniTierIcon:
    'https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/images/ranked-mini-crests/',
};

/* Añadir todas las plataformas*/
const PLATAFORMAS = {
  la1: 'LAN',
  la2: 'LAS',
  euw1: 'EUW',
  br1: 'BR',
  eun1: 'EUN',
  jp1: 'JP',
  kr: 'KR',
  na1: 'NA',
  oc1: 'OC',
  tr1: 'TR',
  ru: 'RU',
  ph2: 'PH',
  sg2: 'SG',
  th2: 'TH',
  tw2: 'TW',
  vn2: 'VN',
};
---

<button id="btnActualizar" class="actualizar"> update </button>

<table>
  <thead>
    <tr>
      <th>#LADDER</th>
      <th>ICONO</th>
      <th class="tablaInvocador">INVOCADOR</th>
      <th>REGION</th>
      <th>TIER</th>
      <th>PUNTOS</th>
    </tr>
  </thead>
  <tbody>
    {
      usuarios.map(
        ({
          tier,
          etiqueta,
          eventoNombre,
          invocador,
          eliminado,
          leaguePoints,
          profileIconId,
          plataforma,
          puntaje,
          ladder,
        }) => {
          return (
            <tr>
              <td>{ladder} </td>
              <td>
                <img
                  src={URL.profileIcon + profileIconId + '.jpg'}
                  alt={'RIOT profile icon'}
                  height="50"
                  width="50"
                />
              </td>
              <td>{invocador + '#' + etiqueta}</td>
              <td>{PLATAFORMAS[plataforma]}</td>
              <td>
                <img
                  src={URL.tierIcon + tier.toLowerCase() + '.png'}
                  alt={'RIOT tier icon'}
                  height="50"
                  width="50"
                />
              </td>
              <td>{leaguePoints}</td>
            </tr>
          );
        }
      )
    }
  </tbody>
</table>

<style>
  table {
    width: 100%;
    table-layout: fixed;
  }

  th {
    text-align: center;
  }
  td {
    text-align: center;
  }

  tr:hover {
    background-color: var(--bg-secondary);
  }

  table,
  th,
  td {
    border: 1px solid;
  }

  .tablaInvocador {
    width: 40%;
  }
</style>

<script>
  import { navigate } from 'astro:transitions/client';
  const isDev = import.meta.env.DEV;
  const btnActualizar = document.querySelector('#btnActualizar');
  btnActualizar.addEventListener('click', () => {
    alert('click');
    const d = new Date();
    let time = d.getTime();
    navigate(
      `${isDev ? 'http' : 'https'}://${isDev ? 'localhost:4321' : 'tft.guiadeparche.com'}/top-ladder/?filter=puntaje&order=desc&update=${time}`
    );
  });
</script>
