---
import Layout from "@layouts/LayoutMidOnly.astro";
import FormularioTierListValorant from "@components/valorant/FormularioTierListValorant";

const title="Valorant"

---

<Layout title={title}>
  <div class="smallContainer">
    <FormularioTierListValorant client:only="react">
</div>
</Layout>

<style>
  .smallContainer{
    display: flex;
    width: 50%;
  }
</style>