---
import { Image } from 'astro:assets';
import logo from '../../assets/GP_logo.png';
interface ImageMetadata {
  src: string;
  width: number;
  height: number;
  format: string;
}
---
<div class="containerHeaderLogo">
  <div class="logoContainer">
    <Image
    class="logo"
    src={logo}
    alt="Logo Guiadeparche"
    />
    <slot/>
  </div>
</div>

<style>
  .logo {
    display: none;
  }

  @media only screen and (min-width:900px){
    .logo {
      display: flex;
      position: relative;
      width: 50px;
      max-width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      box-sizing: border-box;
    }
    .logoContainer{
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
    }
    .containerHeaderLogo{
      display: flex;
      position: relative;
      width: 10vw;
      justify-content: center;
      align-items: center;
    }
  }
</style>
