---

const {img, titulo, texto} = Astro.props;
---

<div class="card-aumentos">
    <div class="container-img-aumentos">
        <img src={img} alt={"Aumento-"+titulo} class="img-aumentos">
    </div>
    <div class="descripcion-aumentos">
        <h2 class="titulo-aumentos">{titulo}</h2>
        <p class="texto-aumentos">{texto}</p>
    </div>
</div>

<style>
    .card-aumentos{
        display:flex;
        flex-direction: row;
        gap:5px;
        width: 100%;
        position: relative;
        border: 1px solid white;
        flex-wrap: wrap;
    }
    .container-img-aumentos{
        display: flex;
        position: relative;
        flex:1;
        align-items: flex-start;
    }
    .img-aumentos{
        width: 50px;
        height: 50px;
    }
    .descripcion-aumentos{
        display: flex;
        flex-direction: column;
        flex:8;
        gap:10px;
        position:relative;
        overflow-wrap: anywhere;
    }
    .titulo-aumentos{
        margin:0;
        font-size: 1.2rem;

    }
    .texto-aumentos{
        font-size: 1rem;
        margin:0;
        color:grey;
    }
</style>