.navegador{
  display: flex;
  flex-direction: row;

}

.compos{
  display: flex;
  flex-direction: row;
  flex:1;
  gap:5px
}

.tierList{
  display: flex;
  flex-direction: row;
  flex:1;
  gap:5px
}
.btnActive{
  background-color: var(--color-hex-cost-2);
  color:white
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
}

.containerPestanaSecundario{
  display: flex;
  position: relative;
  flex-direction: row;
}