:root{
  --width-augments-tierList: 80px;
  --number-augments-tierList: 12;
  --gap-augments-tierList: 0;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  
  gap:5px
}

.containerTierList{
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: var(--bg-secondary);
}


.containerTierListTiers{
  display: flex;
  width: calc(100% / var(--number-augments-tierList));

}

.containerTierListItems{
  display: flex;
  width: calc(100% - (100% / var(--number-augments-tierList)));
  align-items: center;
  position: relative;
}

.containerItem{
  display: flex;
  width: calc(100% / var(--number-augments-tierList));
  cursor:grab;
  
}
.tierImg{
  display: flex;
  width: 100%;
}

.btnActive{
  background-color: aqua;
}

.imgItem{
  display: flex;
  width: 100%;
}

.tooltipContainer {
  
  display: flex;
  width: 100%;
}

/* Tooltip oculto por defecto */
.tooltip {
  display: flex;
  position: absolute;
  bottom:100%;
  background-color: var(--bg-main);
  border: 1px solid grey;
  visibility: hidden;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  left:0;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Mostrar el tooltip al hacer hover */
.tooltipContainer:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltipTitle{
  font-size: smaller;
  color:gold
}

.tooltipDesc{
  font-size: small;
}

.effects{
  font-size: small;
}

.variableName{
  color:gold
}