.containerAumentos{
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: row;
  row-gap: 25px;
  justify-content: center;
  gap:15px
}

.containerAumento{
  display: flex;
  flex: 0 0 calc(100% / 10);
    scale: 1.2;
}

.imgAumento{
  display: flex;
  position: relative;
  width: 100%;
}
