.containerAumentos{
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: row;
  row-gap: 25px;
  justify-content: center;
  gap:15px;
}

.containerAumento{
  display: flex;
  flex: 0 0 calc(100% / 10);
    scale: 1.2;
}

.imgAumento{
  display: flex;
  position: relative;
  width: 100%;
}

.tooltip{
  display: flex;
  position: absolute;
  bottom:100%;
  right:0%;
  width: 300px;
  background-color: var(--bg-main);
  border: 1px solid grey;
  visibility: hidden;
  flex-direction: column;
  padding: 5px;
}

.containerAumento:hover .tooltip{
  visibility: visible;
}

.tooltipTitle{
  font-size: smaller;
  color:gold
}

.tooltipDesc{
  font-size: small;
}

.effects{
  font-size: small;
}

.variableName{
  color:gold
}

@media only screen and (max-width:900px){
  .containerAumento:hover .tooltip{
    visibility: hidden;
  }

  
}