:root{
  --gap-container-aumentos:16px;
  --number-augments:8
}

.containerAumentos{
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: row;
  row-gap: 25px;
  justify-content: center;
  gap:var(--gap-container-aumentos);
}

.containerAumento{
  display: flex;
  flex: 0 0 calc(100% / var(--number-augments) - var(--gap-container-aumentos) + (var(--gap-container-aumentos)/ var(--number-augments))); 
  scale: none;
}

.imgAumento{
  display: flex;
  position: relative;
  width: 100%;
  filter: brightness(0.9);
}

.tooltip{
  display: flex;
  position: absolute;
  bottom:100%;
  background-color: var(--bg-main);
  border: 1px solid grey;
  visibility: hidden;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  left:0;
  box-sizing: border-box;
}

.containerAumento:hover .tooltip{
  visibility: visible;
}

.tooltipTitle{
  font-size: smaller;
  color:gold
}

.tooltipDesc{
  font-size: small;
}

.effects{
  font-size: small;
}

.variableName{
  color:gold
}
