
:root {
    /* Change this to change the appearance of the hexaons */
    --hex-width: calc(((1 / 7) * 100%) - (var(--hex-between) * 6)); 
    --hex-between: 10px;
    --hex-height: calc((var(--hex-width) *1.15));
    
    /* Other hexagon dimentions */
    --hex-height-grid: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
    --hex-margin: calc(var(--hex-width) / 2);
    --hex-border: 4px;
    --hex-transition: all .2s ease;

    --color-hex-default: #122331;

    --color-cost-1: grey;
    --color-cost-2: green;
    --color-cost-3: aqua;
    --color-cost-4: purple;
    --color-cost-5: gold;
}

/* Hexagons */
.containerBuilder {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 10px;
    aspect-ratio: 1920/1080;
    justify-content: center;
    align-items: center;
}

.hexContainer{
    display: flex;

}

.halfPoligon{
    display: flex;
    position:relative;
    visibility:hidden;
    aspect-ratio: 1.15/1;
    width: calc(50% - ((var(--hex-between)*4)));

}

.poligon {
    display: flex;
    position: relative;
    background: var(--color-hex-default);
    box-sizing: border-box;
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    aspect-ratio: 1.15/1.2;
    width: 100%;
    box-sizing: border-box;
  }

  .poligon img {
    position: absolute;
    top: var(--hex-border); /* equal to border thickness */
    left: var(--hex-border); /* equal to border thickness */
    width: calc(100% - var(--hex-border)*2) ; /* container height - (border thickness * 2) */
    height: calc(100% - var(--hex-border)*2); /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hexRow{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    gap:var(--hex-between);
    box-sizing: border-box;
}

