
:root {
    /* Change this to change the appearance of the hexaons */
    --hex-width: calc(((1 / 7) * 100%) - (var(--hex-between) * 6)); 
    --hex-between: 10px;
    --hex-height: calc((var(--hex-width) *1.15));
    
    /* Other hexagon dimentions */
    --hex-height-grid: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
    --hex-margin: calc(var(--hex-width) / 2);
    --hex-border: 0.2rem;
    --hex-transition: all .2s ease;

    --color-hex-cost-default: #252f3c;

    --color-hex-cost-1: grey;
    --color-hex-cost-2: green;
    --color-hex-cost-3: aqua;
    --color-hex-cost-4: purple;
    --color-hex-cost-5: gold;
    --text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

/* Hexagons */
.containerBuilder {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* aspect-ratio: 16/9; */
}

.hexContainer{
    display: flex;

}

.halfPoligon{
    display: flex;
    position:relative;
    visibility:hidden;
    aspect-ratio: 1.15/1;
    width: calc(50% - ((var(--hex-between)*4)));

}

.poligon {
    display: flex;
    position: relative;
    background: var(--color-hex-cost-default);
    box-sizing: border-box;
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    aspect-ratio: 1.15/1.2;
    width: 100%;
    box-sizing: border-box;
    -webkit-overflow: visible;
    overflow: visible; /* Permite que el contenido se desborde */
  }

  .containerPoligon{
    display: flex;
    position:relative;
    width: 100%;
  }
  


  .containerImageChampion > .imageCampeonBuilder {
    position: absolute;
    top: var(--hex-border); /* equal to border thickness */
    left: var(--hex-border); /* equal to border thickness */
    width: calc(100% - var(--hex-border)*2) ; /* container height - (border thickness * 2) */
    height: calc(100% - var(--hex-border)*2); /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    pointer-events:none;
}

.containerImageChampion:hover{
    cursor:grab;
    z-index:1;
}

.hexRow{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    gap:var(--hex-between);
    box-sizing: border-box;
    overflow: visible;
    -webkit-overflow: visible;
}

.containerImageChampion{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
    -webkit-overflow: visible;
    container-type: size;
    resize: horizontal;
}

.containerSinergias{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -3px; /* Mueve el contenedor hacia arriba */
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    pointer-events:none;
}


.sinergia{
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    display: flex;
    width: 100%;
    scale:0.6;
    margin:auto;
    filter:invert(1)
}


.containerTrait{
    display:flex;
    width: calc(1/3 *100%);
    height: auto;
    aspect-ratio: 1/1;
}

.backgroundSinergia{
    display: flex;
    position:absolute;
    width: calc(1/3 *100%);
    height: auto;
    aspect-ratio: 1/1;
}

.nombreCampeon{
    display: flex;
    position:absolute;
    bottom:25%;
    left:50%;
    translate: -50% 0%;
    font-size: 12cqw;
    text-align: center;
    text-shadow: var(--text-shadow);
    pointer-events: none;
    width: 100%;
    justify-content: center;
}
.hideNombreCampeon{
    display: none;
}

.estrellas4::after{
    width: 100%;
    content: "★★★★";
    position: absolute;
    top: 15%;
    height: 100%;
    pointer-events: none;
    text-align: center;
    color: #08fb9c;
    text-shadow: var(--text-shadow);
}

.estrellas3::after{
    width: 100%;
    content: "★★★";
    position: absolute;
    top: 15%;
    height: 100%;
    pointer-events: none;
    text-align: center;
    color: yellow;
    text-shadow: var(--text-shadow);
}

.estrellas2::after{
    width: 100%;
    content: "★★";
    position: absolute;
    top: 15%;
    height: 100%;
    pointer-events: none;
    text-align: center;
    color: rgb(163, 163, 163);
    text-shadow: var(--text-shadow);
}

.containerItems{
    display: flex;
    position:absolute;
    bottom:0;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.containerItem{
    display: flex;
    width: calc(100%/3.4);
    position: relative;
    box-sizing: border-box;
    border: 1px solid #000000;
}

.containerItem > .imgItem{
    display:flex;
    width: 100%;
    position: relative;
    z-index: 2;
}

.contextMenuContainer{
    display: flex;
    width: 100%;
    background-image: url(/campeones/set12/varus.webp);
    position: absolute;
    left: -16px;
    top: -6px;
    height:100%;
    z-index: 2;
    pointer-events: none;
}