:root{
  --cantidadCampeonesOriginales: 10;
}
.containerCampeon{
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% / var(--cantidadCampeonesOriginales) - 5px + (5px / var(--cantidadCampeonesOriginales)));
  align-items: center;
  height: 100%;
}
.containerCampeonImg{
  display: flex;
  position: relative;
  aspect-ratio:  1/1;
  width: 100%;
}

.imgCampeon{
  display: flex;
  width: 100%;
  position:relative;
  box-sizing: border-box;
}

.estrellas4::after{
  width: 100%;
  content: "★★★★";
  position: absolute;
  top: 0%;
  height: 100%;
  pointer-events: none;
  text-align: center;
  color: #08fb9c;
  text-shadow: var(--text-shadow);
}

.estrellas3::after{
  width: 100%;
  content: "★★★";
  position: absolute;
  top: 0%;
  height: 100%;
  pointer-events: none;
  text-align: center;
  color: yellow;
  text-shadow: var(--text-shadow);
  font-size: small;
}

.estrellas2::after{
  width: 100%;
  content: "★★";
  position: absolute;
  top: 0%;
  height: 100%;
  pointer-events: none;
  text-align: center;
  color: rgb(163, 163, 163);
  text-shadow: var(--text-shadow);
}

.nombreCampeon{
  display: flex;
  position: absolute;
  font-size: xx-small;
  justify-content: center;
  bottom: -15px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nombreCampeonOculto{
  display: flex;
  position: absolute;
  font-size: 15px;
  justify-content: center;
  bottom: -20px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.containerItems{
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom:-3px;
  height: fit-content;
}

.containerItem{
  display: flex;
  width: calc(100%/3);

}

.imgItem{
  display: flex;
  width: 100%;
}

@media only screen and (max-width:900px) {
  .estrellas4::after{
    font-size: x-small;
  }
  .estrellas3::after{
    font-size: x-small;
  }
  .estrellas2::after{
    font-size: x-small;
  }
}


@media only screen and (min-width:900px){
  /* .containerCampeon{
    width: calc((100% / 9) - 5px + (5px / 9) );
  } */
  

}