.containerGlobal{
  display: flex  ;
  flex-direction: row;
  position: relative;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  flex: 1;
}
.containerBasicItem{
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100%/4.3);
}

.containerRadiantItem{
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100%/2);
}

.imgBasicItem{
  display: flex;
  width: 100%;
  position: relative;
}

.containerCompleteItem{
  display: flex;
  position: absolute;
  width: 50%;
  bottom: -5px;
  right:0
}

.imgCompleteItem{
  display: flex;
  width: 100%;
}

@media only screen and (max-width:900px){
  .containerCompleteItem{
    bottom:-5px
  }
}

@media only screen and (min-width:900px) {
  .spanSeparator{
    height: 80%;
    display: flex;
    align-items: center;
    font-size: 1em;
    padding: 0 5px;
  }
}