.containerChampionsList{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap:5px
}

.containerChampionsListByCost{
    flex-direction:column;
}

.containerChampionsByCost{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:5px;
    width: 100%;
}

.containerChampion > img{
    display:flex;
    width: 100%;
}

.containerChampion{
    display: flex;
    position:relative;
    width: calc((100%/14) - 5px + (5px / 14));
    height: auto;
    aspect-ratio: 1/1;
    border: 3px solid;
    box-sizing: border-box;
}

.containerChampion:hover{
    cursor:grab

}

.containerChampion > span{
    display: flex;
    position:absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%, 0);
    font-size: xx-small;
    text-shadow: var(--text-shadow);
    pointer-events: none; /* Standard syntax */
    text-align: center;
}