.containerChampionsList{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap:5px
}

.containerChampion > img{
    display:flex;
    width: 100%;
}

.containerChampion{
    display: flex;
    position:relative;
    width: calc(100% /13);
    height: auto;
    aspect-ratio: 1/1;
    border: 3px solid;
}

.containerChampion:hover{
    cursor:grab

}

.containerChampion > span{
    display: flex;
    position:absolute;
    bottom:0;
    left:50%;
    translate: -50% -50%;
    font-size: xx-small;
    text-shadow: var(--text-shadow);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}