:root{
  --numberDefaultForHeadersElements: 12;
  --widthForTierImg: 1;
  --widthForTags:1.5;
  --widthForTagsMobile:4;
  --widthForAdminOptions: 0.3;
  --widthForTittleComp: calc(var(--numberDefaultForHeadersElements) - var(--widthForTierImg) - var(--widthForTags) - var(--widthForAdminOptions));
  --widthForTittleCompMobile: calc(var(--numberDefaultForHeadersElements) - var(--widthForTierImg) - var(--widthForTagsMobile) - var(--widthForAdminOptions));
  --gapInHeadersElements: 5px;
}

.containerInfoGlobal{
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  /* aspect-ratio: 4/5; */
  border: 1px solid var(--border-color);
  padding: 0px 0px 0px 0px;
}

.containerInfoGlobal > *:not(.backgroundWrapper) {
  position: relative;
  z-index: 1;
}

.background{
   /*width: 35%; Ajusta según el diseño deseado */
   height: 120%;
   aspect-ratio: 4 / 5;
   display: flex;
   align-items: center;
   justify-content: center; /* Opcional: Centrar contenido */
    min-height: 120px;
   flex-direction: column;
   background-image: url("/tft/assets/backgroundWrapper.avif");
   background-repeat: no-repeat;
   box-sizing: border-box;
   background-position-x: right;
   background-size: cover;
   overflow: hidden;
   white-space: nowrap;
}

.backgroundWrapper {
  position: absolute;
  inset: 0;
  background-image: url("/tft/assets/backgroundWrapperSet16.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 0;
}

.backgroundImage {
  width: 100%;
  height: 100%;

  object-fit: cover;
  pointer-events: none;
}

.containerInfoGlobalOculto{
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  /* border: 1px solid var(--border-color); */
  padding: 0px;
  gap:15px
}

.isHide{
  display: none;
}
.isHideForAdmin{
  opacity: 0.2;
}

.containerInfoPrincipal{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap:5px;
  /* padding: 5px 0; */
  box-sizing: border-box;
}

.containerInfoPrincipal:hover{
  cursor: pointer;
}

.downBorder{
  border-bottom: none;
}

.containerTextoInfoPrimario{
  display: flex;
  flex-direction: column;
  position:relative;
  justify-content: space-around;
  height: 100%;
  width: calc(100% / var(--numberDefaultForHeadersElements) * var(--widthForTittleComp) );
}
.containerLowerChampsOculto{
  display: flex;
  width: 100%;
  padding: 0 0 10px 0
}

.containerTextoInfoPrimarioTier{
  display: flex;
  position:relative;
  flex-direction: row;
}

.containerTextoInfoPrimarioCode{
  display: flex;
  position:relative;
  font-size: 10px;
  text-align: center;
  align-items: center;
  color:var(--color-primary);
  cursor: pointer;
}

.containerTierImg{
  display: flex;
  position: relative;
  align-items: flex-start;
  /* añadir en el width el gapInHeaders*/
    width: calc(100% / var(--numberDefaultForHeadersElements) * var(--widthForTierImg) - var(--gapInHeadersElements));
}

.tierImg{
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  filter: brightness(90%);
}

.containerInfoComp{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.containerDificultadCategory{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  order:2;
  gap:10px
}

.containerInfoChamp{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  flex:18;
  gap:5px;
  justify-content: flex-start;
  background: var(--bg-primary);
  border: 1px solid var(--border-gray-color);
  box-sizing: border-box;
  padding: 5px;
}

.containerChampsCenter{
  justify-content: center;
}

.containerInfoChampOculto{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  flex:18;
  gap:5px;
  justify-content: center;
}

.containerFlecha{
  display: flex;
  width: calc( 100% / var(--numberDefaultForHeadersElements) * var(--widthForAdminOptions) - var(--gapInHeadersElements) );
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.containerFlechaOculto{
  display: none;
}

.tags{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:5px;
  width: calc( 100% / var(--numberDefaultForHeadersElements) * var(--widthForTags) - var(--gapInHeadersElements) );
  align-items: stretch;
  box-sizing: border-box;
}

.dificultad{
  text-align: center;
  box-sizing: border-box;
  background-color: var(--bg-primary);
  font-size: clamp(0.5em, 20px, 20px);
  display: flex;
  padding: 0px 5px;
  justify-content: center;
}

.tituloComp{
  display: flex;
  order:1;
  width: 100%;
  font-family: ObvioslyWideBold, sans-serif;
}

.titulo{
  font-weight: 700;
  padding: 0;
  margin:0;
  color: var(--color-primary);
}

.tituloSecundario{
  font-weight: 700;
  padding: 0;
  margin:0;
  color: var(--color-primary);
  font-size: smaller;
}

.category{
  order: 3;
  border: 1px solid grey;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--bg-primary);
  font-size: 20px;
}

.btn{
  display: flex;
  width: 15px;
  height: 15px;
}

.containerInfoSecundario{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(var(--bg-primary-rgb) / 0.8);
  padding:0 5px 5px 5px;
  gap:5px
}

.containerInfoSecundarioOculto{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  gap:15px;

}

.upBorder{
  border-top: none;
}
.containerECT{
  display: flex;
  position: relative;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid gray;
  padding: 0 5px;
  background-color: var(--bg-primary);
}

.containerECTOculto{
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 0;
  box-sizing: border-box;
  border: 0.5px solid gray;
  background-color: var(--bg-primary);
}

.containerEGlobal{
  display: flex;
  flex-direction: column;
  position: relative;
  flex:1;
  gap:5px;
  padding: 5px 0;
  align-items: center;
  border-right: 0.25px solid var(--border-gray-color);
}

.containerE{
  display: flex;
  flex-direction: row;
  position: relative;
  flex:1;
  width: 100%;
  gap:5px;
}


.containerC{
  display: flex;
  flex-direction: column;
  position: relative;
  flex:0.8;
  align-items: center;
  gap:5px;
  border-left: 0.25px solid var(--border-gray-color);
  border-right: 0.25px solid var(--border-gray-color);
  padding: 5px 0;
}

.containerR{
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0.4;
  align-items: center;
  padding: 5px 0;
  gap: 5px;
  border-left: 0.25px solid var(--border-gray-color);
}

.containerT{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.containerTOculto{
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 20px 50px 20px 50px;
  align-items: center;
  transform: translate(0, 10px);
}


.containerAP{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  border: 0.5px solid var(--border-gray-color);
  margin: 0;
  box-sizing: border-box;
  padding-top: 5px;
  background-color: var(--bg-primary);
  gap:20px;
}

.containerAPOculto{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  border: 0.5px solid var(--border-gray-color);
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg-primary);
}

.containerAumentos{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* padding: 5px 5px 7px 5px; */
  border: 0.5px solid grey;
  box-sizing: border-box;
  background-color: var(--bg-primary);
}

.containerAumentosOculto{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* padding: 5px 5px 7px 5px; */
  border: 0.5px solid grey;
  box-sizing: border-box;
  background-color: var(--bg-primary);
}

.containerPosicionamiento{
  display: flex;
  flex-direction: column;
  flex:11;
  align-items: center;
  justify-content: center;
  padding:15px 0;
  width: 100%;
}


.hide{
  display: none;
}

.containerTips{
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0px 7px;
  justify-content: center;
  align-items: flex-start;
  border: 0.5px solid var(--border-gray-color);
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.parrafo{
  display: flex;
  margin: 0;
  padding: 0;
  font-size: smaller;
}

.btnDelete{
  clip-path: polygon(0% 62.5%, 0% 37.5%, 37.5% 37.5%, 37.5% 0%, 62.5% 0%, 62.5% 37.5%, 100% 37.5%, 100% 62.5%, 62.5% 62.5%, 62.5% 100%, 37.5% 100%, 37.5% 62.5%);
  /* clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%); */
  background-color: red;
  rotate: 45deg;
  aspect-ratio: 1/1;
}

.btnClose{
  clip-path: polygon(25% 25%, 30% 25%, 50% 65%, 70% 25%, 75% 25%, 50% 75%);
  background-color: antiquewhite;
}

.btnOpen{
  rotate: 180deg;
}
.tituloCentrado{
  width: 100%;
  text-align: center;
}

.tituloCentradoOculto{
  text-align: center;
  font-size: smaller;
}

.containerLowerChamps{
  display: flex;
  position:relative;
  cursor:pointer;
}

.miniInfoComp{
  display: flex;
  position: relative;
  padding: 5px;
  gap:5px;
  flex-direction: column;
  background-color: rgb(var(--bg-primary-rgb) / 0.8);
}

.tituloPrincipal{
  font-family: ObvioslyWideBoldItalic;
  font-size:  clamp(0.4rem, 0.6vw, 1rem);
  color:gold;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
  1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  transform: translate(0, 4px);
}

.footer{
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
  /* aspect-ratio: 4 / 0.2; */
  justify-content: space-around;
}

.divWebMovilnetLogo{
  display: flex;
  position: relative;
  width: calc(100% / 3 - 20px);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

}

.imgMovilnetLogo{
  display: flex;
  position: relative;
  /* height: 30px; */
  width: 100%;
  filter: brightness(0.8);
}

.divJupesonLogo{
  display: flex;
  position: relative;
  width: calc(100% / 3 - 20px);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* object-fit: cover; */
  height: 100%;
}

.imgJupesonLogo{
  display: flex;
  position: relative;
  height: 100%;
  filter: brightness(0.8);
}

.divWebLogo{
  display: flex;
  position: relative;
  width: calc(100% / 3 - 20px);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* object-fit: cover; */
  height: 100%;
  filter: brightness(0.8);
}
.imgWebLogo{
  display: flex;
  position: relative;
  height: 100%;
  pointer-events: none;
}

.divWebLogo img,
.divWebLogo span {
  pointer-events: none;
}

.textoWeb{
  font-family: ObvioslyWideBold, sans-serif;
  display: flex;
  position: relative;
  font-size: small;
  color: var(--color-primary);
  font-weight: bold;
  margin-left: 5px;
  color: var(--color-primary);
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  transform: translate(0, 5px);
  pointer-events: none;
}

.divSetTFTLogo{
  display: flex;
  position: relative;
  width: calc(100% / 3 - 20px);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.imgSetTFTLogo{
  display: flex;
  position: relative;
  height: 100%;
  filter: brightness(0.8);
}

:global(.captura-img .btnLv),
:global(.captura-img .btnSpat),
:global(.captura-img .ytIcon) {
  scale: 1 !important;
  transform: none !important;
}


@media only screen and (max-width: 900px){
  .containerInfoPrincipal{
    flex-wrap: wrap;
    box-sizing: border-box;
    row-gap: 5px;
    flex-direction: row;
  }
  .containerTextoInfoPrimarioCode{
    display: none;
  }
  .containerTextoInfoPrimario{
    height: auto;
    width: calc(100% / var(--numberDefaultForHeadersElements) * var(--widthForTittleCompMobile) );
  }
  .containerInfoComp{
    width: 100%;
    flex:none;
    box-sizing: border-box;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
  }

  .tags{
    flex-direction: row;
    width: calc( 100% / var(--numberDefaultForHeadersElements) * var(--widthForTagsMobile) - var(--gapInHeadersElements));
  }
  .containerDificultadCategory{
    width: 50%;
    justify-content: right;
    align-items: center;
  }

  .containerEGlobal{
    padding: 5px 5px 5px 5px;
  }
  .dificultad{
    font-size: small;
    width: calc(100% / 2 - 5px);
  }

  .category{
    font-size: small;
    width: calc(100% / 2 - 5px);
  }

  .titulo{
    font-size: x-small;
  }

  .containerE{
    justify-content: center;
  }
  .containerGlobal{
    align-items: center;
  }

  .containerTips{
    font-size: small;
  }
  .teamCodeMobile{
    display: flex;
    font-size: small;
  }
  .tituloSecundario{
    font-size: x-small;
  }
  .textoWeb{
    font-size: x-small;
    font-family: math, sans-serif;
    translate: none;
  }
  .imgWebLogo{
    display: none;
  }
}

@media only screen and (min-width: 900px){
  .teamCodeMobile{
    display: none;
  }
  .containerInfoPrincipal{
    /* padding:5px 5px 5px 5px; */
    /* margin-bottom: 7px; */
  }
  .containerInfoPrincipalOculto{
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: var(--bg-primary);
    padding: 5px 5px 10px 5px;
    border: 0.5px solid gray
  }
  .containerTextoInfoPrimarioCode{
    font-size: clamp(0.2rem, 0.5vw, 1rem); /* Mínimo: 1rem, Fluido: 2vw, Máximo: 2.5rem */
    overflow: hidden;    /* Oculta el texto desbordado */
    text-overflow: ellipsis; /* Agrega puntos suspensivos si es necesario */
  }
  .containerLowerChamps{
    flex:4
  }
  .containerInfoComp{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 3px; */
    box-sizing: border-box;
  }
  .containerInfoChamp{
    flex: 12
  }



.dificultad{
  display: flex;
  box-sizing: border-box;
  padding: 0px 5px;
  font-size: smaller;
  order:2;
  justify-content: center;
}
.tituloComp{
  display: flex;
  order:1;
  width: 100%;
  font-size: clamp(0.2rem, 1.4vw, 2rem); /* Mínimo: 1rem, Fluido: 0.8vw, Máximo: 1rem */
  white-space: nowrap; /* Evita los saltos de línea */
  overflow: hidden;    /* Oculta el texto desbordado */
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
  1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
.category{
  font-size: smaller;
  font-style: italic;
  order:3;

}

}