.contextMenuBuilder{
  display: flex;
  position: absolute;
  bottom:100%;
  left:0;
  width: 200px;
  background-color: var(--bg-primary);
  z-index: 3;
  cursor: pointer;
}

.optionsMenu:hover{
  background-color: var(--bg-secondary);
}
