:root{
  --icon-size:calc(70%/3)
}
.containerFormChampTierList{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.containerCrearCompo{
  background-color: rgb(var(--bg-primary-rgb) / 1);
}

.containerOptionsChampTierList{
  display: flex;
  width: 70%;
  flex-direction: column;
}
.poligon{
  display: flex;
    position: relative;
    background: var(--color-hex-cost-default);
    box-sizing: border-box;
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    aspect-ratio: 1.15 / 1.2;
    width: 100%;
    box-sizing: border-box;
    -webkit-overflow: visible;
    overflow: visible;
}

.containerChampTierList{
  display: flex;
  position: relative;
  width: calc(100%/10); 
}
.champTierListSample{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  margin:10px
}

.poligonChampTierList{
  display: flex;
  position: relative;
  background: var(--color-hex-cost-default);
  box-sizing: border-box;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  aspect-ratio: 1.15 / 1.2;
  width: 100%;
  box-sizing: border-box;
  -webkit-overflow: visible;
  overflow: visible;
}

.containerAumChampTierList{
  display: flex;
  position: absolute;
  width: var(--icon-size);
  top:0;
  left:10%;
  border-width:var(--hex-border);
  border-style: solid;
  border-radius: 50%;
  overflow: hidden;
}

.imgAumChampTierList{
  display: flex;
  position: relative;
  width: 100%;
}

.containerItemsChampTierList{
  display: flex;
  position: absolute;
  width: 70%;
  bottom:0;
  left: 50%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  justify-content: center;
}
.itemsChampTierList{
  display: flex;
  position: relative;
  width: calc(100%/3);
}
.imgItemChampTierList{
  display: flex;
  width: 100%;
}
.containerTraitChampTierList{
  display: flex;
  position: absolute;
  width: var(--icon-size);
  top:0;
  right:10%;
  border-width:var(--hex-border);
  border-style: solid;
  border-radius: 50%;
  overflow: hidden;
}
.imgTraitChampTierList{
  display: flex;
  position: relative;
  width: 100%;
}

.imgCampeonBuilder{
  position: absolute;
  top: var(--hex-border);
  left: var(--hex-border);
  width: calc(100% - var(--hex-border)* 2);
  height: calc(100% - var(--hex-border)* 2);
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  pointer-events: none;
}
.builderContainer{
  display: flex;
  flex-direction: row;
  position:relative;
  width: 100%;
}

.builderContainerEarly{
  display: flex;
  flex-direction: row;
  position:relative;
  left: 50%;
  transform: translate(-50%, 0);

  width: calc(5*100%/8.5);
}

.containerEarlyComp{
  display: flex;
  flex-direction: row;
  position: relative;
}

.containerEarlyCompWrapper{
  display: flex;
  width: 10%;
  position: relative;
}

.imgEarlyComp{
  display: flex;
  width: 100%;
}

.containerAumentos{
  display: flex;
  flex-direction: row;
}

.imgAumento{
  display: flex;
  width: 100%;
}

.btnClose{
  display: flex;
  position:absolute;
  top:0;
  right: 0;
  background-color: var(--bg-primary);
  color:white;
  z-index: 2;
}

.btnClose:hover{
  cursor: pointer;
  background-color: var(--bg-secondary);
}

.containerYoutube{
  display: flex;
  flex-direction: row;
  position: relative;
}

.horizontalWrapper{
  display: flex;
  position: relative;
  width: 20%;
}

textarea{
width: 100%;
min-height: 150px;
white-space: pre-wrap;
}

.containerVideos{
  display: flex;
  position: relative;
}



.containerCarousel{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.containerBestRadiants{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.containerCarouselForm{
  display: flex;
  position:relative;
  flex-direction: row;
  gap:5px
}

.containerCarouselFormVertical{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap:5px
}

form > label{
  justify-content: flex-start;
  display: flex;
  flex-direction: row;

}

.containerFirst{
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  gap:5px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);

}

.containerFirst > label > *{
  flex:1;
  border:none;
  padding:0
}

.containerSecond{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap:5px;
  position: relative;

}

.containerSecond > label > *{
  flex:1;
  border:none;
  padding:0
}

.btnAgregar{
  display: flex;
  background-color: var(--bg-secondary);
  justify-content: center;
}

.btnAgregar:hover{
  cursor: pointer;
  background-color: var(--bg-tertiary);
}

.containerButtonsHorizontal{
  display: flex;
  flex-direction: row;
  position: relative;
}

.btn{
  display: flex;
  position: relative;
  flex:1;
  background-color: var(--bg-secondary);
  justify-content: center;
  align-items: center;
  font-size: x-small;
  aspect-ratio: 3/2;
}

.btn:hover{
  background-color: var(--bg-tertiary);
  cursor: pointer;
}



.containerBtnHandlerBuilder{
  display: flex;
  flex-direction: row;
  position:relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  gap:5px;
  margin-top:20px
}

.btnHandlerBuilder{
  display: flex;
  position:relative;
  background-color: var(--bg-secondary);
  padding:10px;
  flex:1;
  justify-content: center;
}
.btnHandlerBuilder:hover{
  cursor: pointer;
  background-color: var(--bg-primary);

}

.containerSpatulaSearch{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.containerImgSpatula{
  display: flex;
  position: relative;
  width: 100px;
}
.inputSpatulaSearch{
  display: flex;
  position: relative;
  height: fit-content;
}
.imgSpatula{
  width: 100%;
}

.containerRow{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.btnCampeonItem{
  display: flex;
  flex:0 0 25%;
  justify-content: center;
  background-color: aqua;

}

.containerCarouselReact{
  display: flex;
  padding-bottom: 25px;
  width: 50%;
}
.containerBestRadiantsReact{
  display: flex;
  padding-bottom: 25px;
  width: 50%;
}


.btnActive{
  background-color: var(--bg-primary);
}

.savePicture{
  background-color: green;
}

.btnSubmit{
  background-color: var(--bg-secondary);
  color: white;
  height: 30px;
}

.btnSubmit:hover{
  background-color: var(--bg-primary);
  cursor: pointer;
}

.titulo{
  margin:0
}