.builderContainer{
  display: flex;
  flex-direction: row;
  position:relative;
  width: 100%;
}

.containerEarlyComp{
  display: flex;
  flex-direction: row;
  position: relative;
}

.containerEarlyCompWrapper{
  display: flex;
  width: 10%;
  position: relative;
}

.imgEarlyComp{
  display: flex;
  width: 100%;
}

.containerAumentos{
  display: flex;
  flex-direction: row;
}

.imgAumento{
  display: flex;
  width: 100%;
}

.btnClose{
  display: flex;
  position:absolute;
  top:0;
  right: 0;
  background-color: var(--bg-primary);
  color:white;
  z-index: 2;
}

.btnClose:hover{
  cursor: pointer;
  background-color: var(--bg-secondary);
}

.containerYoutube{
  display: flex;
  flex-direction: row;
  position: relative;
}

.horizontalWrapper{
  display: flex;
  position: relative;
  width: 10%;
}

textarea{
width: 100%;
min-height: 150px;
white-space: pre-wrap;
}

.containerVideos{
  display: flex;
  position: relative;
}

.savePicture{
  background-color: green;
}

.containerCarousel{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.containerCarouselForm{
  display: flex;
  position:relative;
  flex-direction: row;
  gap:5px
}

.containerCarouselFormVertical{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap:5px
}