:root{
  --containerItemsInfo-width : calc(100%/2);
  --itemsNumber-width: calc(100%/10);
  --itemsRadiantsNumber-width: calc(100%/8);
  --itemsOtrosNumber-width: calc(100%/12);
}
.containerItems{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.containerBtn{
  display: flex;
  flex-direction: row;
  gap:5px;
  box-sizing: border-box;
}
.btn{
  display: flex;
}
.btn:hover{
  cursor: pointer;
}
.containerItemsInfo{
  display: flex;
  flex-direction: row;
  width: var(--containerItemsInfo-width);
  flex-wrap: wrap;
}

.containerItemsHorizontal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.containerItemsHorizontalOtros{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.containerItemsRadiants{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.itemsDrop{
  display: flex;
  flex-direction: row;
  width: var(--itemsNumber-width);
}

.itemsDropRadiants{
  display: flex;
  flex-direction: row;
  width: var(--itemsRadiantsNumber-width);
}

.itemsDropOtros{
  display: flex;
  flex-direction: row;
  width: var(--itemsOtrosNumber-width);
}

.imgItems{
  display: flex;
  position: relative;
  width: 100%;
  
}

.imgItems:hover{
  cursor: grab;
  border: 1px solid white;
  box-sizing: border-box;
}

.tooltip{
  display: flex;
  position: relative;
  width: 100%;
  background-color: var(--bg-secondary);
  margin-top:10px
}

.tooltipContainer{
  display: flex;
  position: relative;
  width: 100%;
  padding: 10px;
}

.tooltipContainerText{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.tooltipContainerImg{
  display: flex;
  position: relative;
  width: 100px;
  min-width: 100px;
  flex-direction: column;
}

.tooltipImg{
  display: flex;
  width: 100%;
}

.tooltipContainerComponents{
  display: flex;
  flex-direction: row;
  width: 100px;

  justify-content: space-between;
}

.tooltipImgComponent{
  display: flex;
  width: 40px;
}

.tooltipContainerDesc{
  font-size: smaller;
}

.tooltipContainerEffects{
  font-size: small;
}

@media only screen and (max-width:900px){
  .tooltipContainerImg{
    width: 50px;
    min-width: 50px;
  }
  .tooltipContainerComponents{
    width: 50px;
    align-items: center;
  }
  .tooltipImgComponent{
    width: 20px;
    height: 20px;
  }
}