.containerPosicionamiento{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

/*
.containerPosicionamiento{
  display: flex;
  flex-direction: column;
  flex:11;
  align-items: center;
  justify-content: center;
  padding:15px 0;
  width: 100%;
}

*/

.containerImgPosicionamiento{
  width: 100%;
  height: auto;
  display: flex;
}


.containerImgPosicionamientoBS{
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  position: relative;
}

.imgPosicionamiento{
  display: flex;
  position: relative;
  width: 100%;
}

.imgPosicionamientoOculto{
  display: flex;
  position: relative;
  width: 100%;
  height: max-content;
}

.containerBtnPosicionamiento{
  display: flex;
  position: relative;
  width: calc(100%/12);
  flex-direction: column;
  margin: 0 5px;
  gap:20px
}

.containerLevels{
  display: flex;
  flex:3;
  flex-direction: column;
}
.containerSpatula{
  display: flex;
  flex: 2;
  flex-direction: column;
}

.btnLv{
  display: flex;
  flex:0 0 calc(100%/3);
  position: relative;
  background-color: var(--bg-secondary);
  align-items: center;
  justify-content: center;
  box-sizing: border-box ;
  scale: 0.8;
  transition: all 0.5s;
  font-size: smaller;
}

.btnLv:hover{
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border-color);
  cursor: pointer;
  scale: 1
}

.btnSpat{
  display: flex;
  flex:0 0 calc(100%/2);
  position: relative;
  background-color: var(--bg-secondary);
  align-items: center;
  justify-content: center;
  box-sizing: border-box ;
  scale: 0.8;
  transition: all 0.5s;
}

.btnSpat > span{
  display: flex;
  position: absolute;
  text-shadow: var(--text-shadow);
}

.btnSpat:hover{
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border-color);
  cursor: pointer;
  scale: 1
}
.imgSpat{
  display: flex;
  width: 100%;
}

.btnActive{
  background-color: var(--bg-primary);
  border: 1px solid var(--border-color);
  scale: 1
}

.containerYoutube{
  display: flex;
  flex:1;
  padding: 5px 0;
}

.ytIcon{
  width: 100%;
  scale:0.8;
  transition: all 0.5s;
}

.ytIcon:hover{
  width: 100%;
  scale:1;
  cursor: pointer;
}

.containerImgVideo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.containerImgVideoOculto{
  display: flex;
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

:global(.capturarPosicionamientoTFT){
  width: 100%;
}

@media only screen and (max-width:900px){
  .btnLv{
    font-size: small;
  }
}
