.compToShow{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: rotate(90deg);
}

.background{
   /*width: 35%; Ajusta según el diseño deseado */
   height: 120%;
   aspect-ratio: 4 / 5;
   display: flex;
   align-items: center;
   justify-content: center; /* Opcional: Centrar contenido */

   flex-direction: column;
   background-image: url("/tft/assets/backgroundWrapper.avif");
   background-repeat: no-repeat;
   box-sizing: border-box;
   background-position-x: right;
   background-size: cover;
}

.backgroundPBE{
   /*width: 35%; Ajusta según el diseño deseado */
   height: 120%;
   aspect-ratio: 4 / 5;
   display: flex;
   align-items: center;
   justify-content: center; /* Opcional: Centrar contenido */

   flex-direction: column;
   background-image: url("/tft/assets/backgroundWrapperSet15.webp");
   background-repeat: no-repeat;
   box-sizing: border-box;
   background-position-x: right;
   background-size: cover;
}

.aspectWrapper {
   /*width: 35%; Ajusta según el diseño deseado */
  height: 100%;
  /* aspect-ratio: 4 / 5; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(from var(--bg-primary) r g b / 0.6);
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 15px;

}

.upperStyle{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* margin: 5px; */
  padding: 5px 0;
  box-sizing: border-box;
}

.titulos{
  display: flex;
  flex-direction: column;
}
.tags{
  display: flex;
  flex-direction: column;
}

.tierImg{
  display: flex;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  filter: brightness(90%);
}

.containerTierImg{
  display: flex;
  position: relative;
  align-items: flex-start;
  flex: 0.5;
  width: 100%;
}

.titulos{
  display: flex;
  position: relative;
  flex: 6;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding-left: 5px;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  box-sizing: border-box;
  translate: 0 5px;
}

.tags{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:5px;
  width: 100%;
  flex:1;
  align-items: stretch;
  box-sizing: border-box;
}

.category{
  /* font-style: italic; */
  order: 3;
  width: 100%;
  border: 1px solid grey;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--bg-primary);
  font-size: 20px;
}

.dificultad{
  text-align: center;
  box-sizing: border-box;
  background-color: var(--bg-primary);
  font-size: 20px;
}

.lowerStyle{
  display: flex;
  position: relative;
  height: 70px;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 0 0 0;
}

.divJupesonLogo{
  display: flex;
  position: relative;
  height: 70px;
  justify-content: center;
  flex:1
}

.divWebLogo{
  display: flex;
  position: relative;
  height: 70px;
  align-items: center;
  flex:1
}

.divWebMovilnetLogo{
  display: flex;
  position: relative;
  height: 70px;
  width: 50%;
  align-items: center;  
  justify-content: center;
  flex:1
}

.imgMovilnetLogo{
  display: flex;
  position: relative;
  height: 50%;
  align-items: center;
}

.divSetTFTLogo{
  display: flex;
  position: relative;
  height: 70px;
  align-items: center;
  justify-content: center;
  flex:1
}


.imgSetTFTLogo{
  display: flex;
  position: relative;
  height: 80%;
}

.imgSetTFTLogoReduced{
  display: flex;
  position: relative;
  height: 50%;
}

.tituloPrincipal{
  font-family: ObvioslyWideBoldItalic;
  font-size: 0.8em;
  color:gold;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
  1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  translate: 0 4px;
}

.titutloSecundario{
  font-family: ObvioslyWideBold;
  font-size: 1.8em;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  color:white
}

.textoWeb{
  font-family: ObvioslyWideBold;
  font-size: 18px;
  color: var(--color-primary);
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
  1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  translate: 0 5px;
}

