:root{
  --gap-sinergias: 15px;
  --division-sinergias: 6
}

.containerSinergia{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap:var(--gap-sinergias);
  flex: 1;
  padding: 20px 0;
  box-sizing: border-box;
  flex:1
}

.containerSinergiaHorizontal{
  flex-direction: row;
  padding: 5px 0;
}

.containerSinergiaHex{
  display: flex;
    position: relative;
    flex-direction: row;
    flex: 0 0 calc((100%/var(--division-sinergias)) - var(--gap-sinergias) + (var(--gap-sinergias)/ var(--division-sinergias)));
    align-items: center;
    /* clip-path: polygon(37.5% 0, 75% 25%, 100% 24%, 100% 75%, 75% 75%, 37.5% 100%, 0 75%, 0 25%) */
    clip-path: polygon(32.60869565217391% 0, 65.21739130434783% 25%, 100% 25%, 100% 75%, 65.21739130434783% 75%, 32.60869565217391% 100%, 0 75%, 0 25%);
    background-color: black;

  }


.borderHex{
  position: absolute;
    width:  calc(100% - 5px); 
    height: calc(100% - 5px);
    bottom:50%;
    left:50%;
    translate: -50% 50%;
    clip-path: polygon(32.60869565217391% 0, 65.21739130434783% 25%, 100% 25%, 100% 75%, 65.21739130434783% 75%, 32.60869565217391% 100%, 0 75%, 0 25%);
    box-shadow: 2cqh;
}


.imgHexagono{
  display: flex;
  position: absolute;
  top: 0;
  width: 50%;
}

.imgSinergia{
  display: flex;
  position: relative;
  flex:3;
  z-index: 2;
  overflow: hidden;
  scale:0.7
}

.infoSinergia{
  display: flex;
  position: relative;
  flex:1.6;
  font-size: 0.73em;
  font-weight: 800;
  padding: 0;
  margin: 0;
  justify-content: center;
  color:black;
}

@media only screen and (max-width:900px){ 

.infoSinergia{
  font-size: 0.5em;
}
.containerSinergia{
  padding: 0;
}
}

@media only screen and (min-width:900px){
  
}

