:root{
  --gapInfografia2koContainer: 15px;
  --gapContainer2xkoInfo: 5px;
  --cantidadTiers: 6;
  --gapEntreDuos: 5px;
  --gapHorizontalEntreTiers: 15px ;
  --cantidadColumnas: 6;
  --cantidadCampeonesDuos: 5;
  --colorVerde: #d2f262;
}

.container{
  width:100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow:hidden;
  position:relative;
  padding:20px 35px;
  box-sizing:border-box;
  z-index:0;
  top:0;
  left:0;
  aspect-ratio:4/5
}

.imgBackground{
  z-index:-1;
  display:flex;
  position:absolute;
  height:100%;
  right:50%;
  top:0;
  transform:translate(50%,0%);
  background: #000000;
  filter:brightness(0.5)
}

.header{
  display: flex;
  height: 8%;
  width: 100%;
  position: relative;
}

.imgLogo2xko{
  display: flex;
  position: absolute;
  top:50%;
  left:0%;
  transform: translate( 0%, -50%);
  width: 25%;
  height: auto;
  object-fit: fill;
  opacity: 1;
}

.titulo{
  display: flex;
  position: absolute;
  top:50%;
  left:30%;
  transform: translate(0, -50%);
  font-family: "Fatal Fighter";
  font-size: 50px;
  text-shadow: 1px 1px 2px #d2f262, 0 0 1px #d2f262, 0 0 5px #d2f262;
  color: #1d1f1d;
}

.version{
  display: flex;
  position: absolute;
  top:50%;
  right:0;
  transform: translate(0, -50%);
  font-family: "Fatal Fighter";
  text-shadow: 1px 1px 2px #d2f262, 0 0 1px #d2f262, 0 0 5px #d2f262;
  color: #1d1f1d;
  font-size: 50px;
}

.containerInfo{
  height: 82%;
  display: flex;
  flex-direction: column;
}

.infoMetaContianer{
  display: flex;
  flex-direction: row;

  height: calc((100% / var(--cantidadTiers) ) - var(--gapContainer2xkoInfo) + (var(--gapContainer2xkoInfo) / var(--cantidadTiers)));
}

.containerChampsImpar{
  background-color: #00000052;
}

.containerChampsPar{
  background-color: #000000a9;
}
.containerTier{
  width: calc((100% / var(--cantidadColumnas)) - var(--gapEntreDuos) + (var(--gapEntreDuos) / var(--cantidadColumnas)) );
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgTier{
  width: 100%;
}

.containerChamps{
  display: flex;
  gap: var(--gapEntreDuos);
  width:calc(100% * 5 / var(----cantidadColumnas) - var(--gapEntreDuos) + (var(--gapEntreDuos) / var(--cantidadCampeonesDuos)));
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  padding: 5px 0;
  box-sizing: border-box;
  z-index: 1;
}

.containerInfoChamps{
  display: flex;
  gap: 0px;
  width:calc(100% * 5 / var(----cantidadColumnas) - var(--gapEntreDuos) + (var(--gapEntreDuos) / var(--cantidadCampeonesDuos)));
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  padding: 5px 0;
  box-sizing: border-box;
  z-index: 1;
}


.containerCampeonPrincipal{
  height:auto;
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 1;
}

.imgCampeonPrincipal{
  width: 100%;
}

.imgCampeonSecundario{
  width: 100%;
}


.nombreCampeonPrincipal{
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-family: "Fatal Fighter";
  font-size: 14px;
  text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 5px black;
}

.containerImgFuse{
  display: flex;
  position: absolute;
  top: 5px;
  left:50%;
  transform: translate(-50%, 0%) rotate(0deg) skew(-15deg, 0deg);
  width: calc(100% / 3);
  z-index: 0;
}

.imgFuse{
  display: flex;
  position: relative;
  width: 100%;
  background-color: #0000008d;
  z-index: -1
}

.footer{
  display: flex;
  height: 10%;
  position:relative;
  flex-direction: row;
  z-index: 1;
  align-items: center;
  justify-content:space-evenly;
}

.containerLogoJupeson{
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.imgLogoJupeson{
  transform: scale(1);
  height: auto;
  width: 100%;
  object-fit: contain;
  opacity: 0.8;
}

.containerLogoMovilnet{
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.imgLogoMovilnet{
  transform: scale(1);
  height: auto;
  width: 100%;
  object-fit: contain;
  opacity: 0.8;
}

.verticalLine{
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;

}

.vline{
  display: flex;
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: var(--colorVerde);

}

.vline1{
  left: calc((100% / 5 * 0) )
}
.vline2{
  left: calc((100% / 5 * 1) - (var(--gapEntreDuos) / 2) )
}
.vline3{
  left: calc((100% / 5 * 2) - (var(--gapEntreDuos) / 2 * 2/3) )
}
.vline4{
  left: calc((100% / 5 * 3) - (var(--gapEntreDuos) / 2 * 3/8) )
}
.vline5{
  right: calc((100% / 5 * 1) - (var(--gapEntreDuos) / 2)  )
}
.vline6{
  left: calc(100% )
}

.hline{
    display: flex;
  position: absolute;
  height: 1px;
  width: 10px;
  background-color: var(--colorVerde);

}

.hline2{
  bottom: 0
}

.hline3{
  right:0
}

.hline4{
  right: 0;
  bottom:0;
}

