/* Tooltip oculto por defecto */
.tooltip {
  background-color: var(--bg-main);
  border: 1px solid grey;
  padding: 5px;
  min-width: 350px;
  max-width: 420px;
  z-index: 99999;
  pointer-events: none;
}

/* Cuando no entra, se va para la izquierda */
.tooltip.left {
  left: auto;
  right: 0;
}

.tooltip.visible {
  opacity: 1;
  visibility: visible;
}

.tooltip.hidden {
  opacity: 0;
  visibility: hidden;
}


.tooltipTitle{
  font-size: smaller;
  color:gold
}

.tooltipDesc{
  font-size: small;
}

.effects{
  font-size: small;
}

.variableName{
  color:gold
}

@media only screen and (max-width:900px) {
  .tooltip{
    display: none;
  }
}