---
import Layout from "../layouts/Layout.astro"
import CardAumentos from "../components/cards/Aumentos.astro";
import Main from "@components/main/Main.astro";
import {aumentos, setPBE} from "../json/updates/constantesPBE.js"
const title = "Aumentos Set 12 TFT"
---
<!-- <Layout title={title}>
    <Main>
        <h1 class="titulo">Aumentos del Set {setPBE} de TFT</h1>
    {
        aumentos.map((aum)=>{
            const ruta = "https://raw.communitydragon.org/pbe/game/";
            if(aum.icon !=="" && aum.icon.indexOf("/Augments/")>0 && aum.name !=="" && aum.desc !==""){
                return (
                    <CardAumentos img={ruta+aum.icon.toLowerCase().replace(".tex",".png")} titulo={aum.name} texto={aum.desc}></CardAumentos>
                )
            }
        })
    }
    </Main>
</Layout> -->