---
import Main from '@components/main/Main.astro';
import Layout from 'src/layouts/LayoutMidOnly.astro';
import InfografiaTop5 from '@components/Infografias/Top5/InfografiaTop5.jsx';
---

<Layout title='admin'>
    <Main>
        <InfografiaTop5 client:only="react"/>
    </Main>
</Layout>