---
import Layout from '../layouts/Layout.astro';
import ContainerMeta from '../components/meta-comp/ContainerMeta.astro';
const title = 'TFT - Meta Comp';
---

<Layout title={title}>
  <main>
    <h1>Meta Comp</h1>
    <ContainerMeta />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 70%;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    background-color: var(--bg-tertiary);
  }

  @media only screen and (max-width: 900px) {
    main {
      width: 100%;
    }
  }
</style>
