---
import Layout from '../layouts/Layout.astro';
import Form from '../components/top-ladder/Form.astro';
const title = 'TFT - Top Ladder';
---

<Layout title={title}>
  <main>
    <Form />
  </main>
</Layout>
