.image{
    display: flex;
    width: 100%;
}

.contenido{
    display: flex;
    width: 100%;
    margin-bottom:10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.contenidoInfo{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    border: 2px solid var(--border-color)
}

.pestanas{
    list-style: none;
    background-color: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 1rem;
    color: white;
    box-sizing: border-box;
    flex: 1;
    align-self: stretch;
    text-wrap: balance;

}

.pestanas:hover{
    background-color: var(--bg-primary);
    cursor:pointer;
}

.selected{
    background-color: var(--bg-terciary);
}



a{
    color:brown
}

ul > li {
    font-size: smaller;
}

ul{
    margin-top: 5px;
}

@media only screen and (min-width:900px) {
    .pestanas{
        padding: 10px;
    }
}