---

---

<!-- <div class="iframe-container">
  <iframe
    src="https://player.twitch.tv/?channel=jupeson&parent=http://localhost:4321"
    frameborder="0"
    allowfullscreen="true"
    scrolling="no"
    height="378"
    width="620"></iframe>
</div>

<div class="iframe-container">
  <iframe
    id="chat_embed"
    src="https://www.twitch.tv/embed/jupeson/chat?parent=http://localhost:4321"
    height="500"
    width="350"
  >
  </iframe>
</div> -->
<script src="https://player.twitch.tv/js/embed/v1.js"></script>
<div id="embedJupeson"></div>
<script type="text/javascript">
  var options = {
    width: 1920,
    height: 1080,
    channel: 'jupeson',
    // only needed if your site is also embedded on embed.example.com and othersite.example.com
    parent: ['localhost', 'guiadeparche.com'],
  };
  var player = new Twitch.Player('embedJupeson', options);
  player.setVolume(0.5);
</script>
