.container{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;

}
.containerInfografia{
  display: flex;
  position: relative;
  width: 50%;
  aspect-ratio: 4/5;
  box-sizing: border-box;
  background-color: #191f32;
  /* Create a grainy texture using a radial gradient pattern */
  background-image: radial-gradient(circle, #000000 1px, transparent 1px);
  background-size: 4px 4px; /* Density of the "spray" */
  opacity: 1;
  flex-direction: column;
}

.header{
  display: flex;
  position: relative;
  width: 100%;
  height: 20%;
  flex-direction: column;
  container-type: size;
  justify-content: center;
  align-items: center;
}

.titulo{
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: fantasy;
  font-size: 30cqh;
}

.body{
  display: flex;
  position: relative;
  width: 100%;
  height: 60%;

  flex-wrap: wrap;
  gap:5px;
  box-sizing: border-box;
  padding: 0 5px;
}



.containerImgLegeng{
  display: flex;
  position: relative;
  width: calc(100% / 4 - (5px * 3) / 4);
  height: calc(100% / 2 - (5px) / 2);
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.imgTier{
  display: flex;
  position: relative;
  width: 20%;
  transform: translate( 0, 25%);
  z-index: 2;
}

.imgLegend{
  display: flex;
  width: 100%;
  position: relative;
  object-fit: contain;
}


.footer{
  display: flex;
  position: relative;
  width: 100%;
  height: 20%;
}

.footer{
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-around;
  padding: 5% 5%;
  box-sizing: border-box;
  container-type: size;
}

.containerLogo{
  display: flex;
  position: relative;
  width: calc(100% / 2);
  padding: 5px;
  box-sizing: border-box;
  justify-content: center;
}

.logo{
  width: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0 10px rgba(177, 22, 197, 0.7));
  opacity: 100%;
}

.containerImgBorder{
  display: flex;
  position: absolute;
  z-index: 0;
  width: 20%;
}

.imgBorder{
  width: 100%;
}

.containerImgBorderTopLeft{
  top:0;
  left:0;
  rotate: 90deg
}
.containerImgBorderTopRight{
  top:0;
  right:0;
  rotate: 180deg
}
.containerImgBorderBottomLeft{
  bottom:0;
  left:0;
}
.containerImgBorderBottomRight{
  bottom:0;
  right:0;
  rotate: -90deg
}

.textoWeb{
  display: flex;
  position: absolute;
  bottom: 0;
  font-size: 18cqh;
  font-family: fantasy;
  letter-spacing: 2px;
}