---
const { className, style, hasSidebar = true } = Astro.props;
const tieneMain = Astro.slots.has("main");
const showSidebar = hasSidebar || Astro.slots.has("sidebar");
---

<section class={`default ${className ? className.join(" ") : ""} ${!showSidebar ? "no-sidebar" : ""}`} style={style}>
  <slot />
  {
    tieneMain && 
    <div class="mainContent">
      <slot name="main"/>
    </div>
  }
  {
    showSidebar && 
    <aside>
      <slot name="sidebar"/>
    </aside>
  }
</section>

<style>
  section{
    gap:1rem;
  }
.default{
  display: flex;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.mainContent{
  order:1;
  width: calc((100% - (1rem)) / 10 * 7.5 );
  display: flex;
  flex-direction: column;
}
aside{
  order:2;
  display: flex;
  flex-direction: column;
  width: calc((100% - (1rem)) / 10 * 2.5 );
  position: sticky;
  top: var(--height-header);
  align-self: flex-start;
  max-width:300px;
  gap:1rem;
  background: var(--bg-main-secondary);
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid rgba(255, 255, 0, .247);
  box-sizing: border-box;
}
@media only screen and (max-width: 900px) {
  .mainContent{
    width: 100%;
    order:1;
  }
  aside{
    display:none;
  }
}
.no-sidebar .mainContent {
  width: 100%;
}
</style>
