---
import Layout from "@layouts/LayoutMidOnly.astro"
import VisualizadorMetaLOL from "@components/leagueOfLegends/VisualizadorMetaLOL"
---

<Layout title="Meta League of Legends">
  <div class="smallContainer">
    <VisualizadorMetaLOL client:only="react"></VisualizadorMetaLOL>
  </div>
</Layout>

<style>
  .smallContainer{
    display: flex;
    width: 50%;
  }
</style>