.imgSinergia{
    width: 100%;
    filter: invert();
}

.containerTooltip{
    display: flex;
    position: relative;
    flex-direction: row;
    flex: 0 0 33.3333%;
}

.containerTooltip .tooltip{
    display: none;
}

.containerTooltip:hover > .tooltip{
    display: flex;
    position:absolute;
    padding: 2px 10px;
    z-index: 5;
    bottom: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;

}