---
import { getAccountInfo, getPUUID, getRank } from '../../riotApi/account.js';

import Layout from '../../layouts/Layout.astro';
const { invocador } = Astro.params;
const region = Astro.url.searchParams.get('region');
const etiqueta = Astro.url.searchParams.get('etiqueta');
const plataforma = Astro.url.searchParams.get('plataforma');

const URL = {
  profileIcon:
    'https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/profile-icons/',
  tierIcon:
    'https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-shared-components/global/default/',
  miniTierIcon:
    'https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/images/ranked-mini-crests/',
};

const { puuid, gameName, tagLine } = await getPUUID({
  region: region,
  etiqueta: etiqueta,
  invocador: invocador,
});
const { id, accountId, profileIconId, revisionDate, summonerLevel } =
  await getAccountInfo({ plataforma, puuid });

const [rankedTFT, rankedDoubleUp] = await getRank({
  summonerId: id,
  plataforma,
});
const {
  leagueId,
  queueType,
  tier,
  rank,
  leaguePoints,
  wins,
  losses,
  veteran,
  inactive,
  freshBlood,
  hotStreak,
} = rankedTFT;

const title = invocador;
---

<Layout title={title}>
  <main>
    <table>
      <thead>
        <tr>
          <th>#LADDER</th>
          <th>ICONO</th>
          <th class="tablaInvocador">INVOCADOR</th>
          <th>REGION</th>
          <th>TIER</th>
          <th>PUNTOS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> </td>
          <td>
            <img
              src={URL.profileIcon + profileIconId + '.jpg'}
              alt={'RIOT profile icon'}
              height="50"
              width="50"
            />
          </td>
          <td>
            {gameName}
          </td>
          <td>
            {tagLine}
          </td>
          <td>
            <img
              src={URL.tierIcon + tier.toLowerCase() + '.png'}
              alt={'RIOT tier icon'}
              height="50"
              width="50"
            />
          </td>
          <td>
            {leaguePoints}
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</Layout>

<style>
  table {
    width: 100%;
    table-layout: fixed;
  }

  th {
    text-align: center;
  }
  td {
    text-align: center;
  }

  tr:hover {
    background-color: var(--bg-secondary);
  }

  table,
  th,
  td {
    border: 1px solid;
  }

  .tablaInvocador {
    width: 40%;
  }
</style>
