---
import Layout from '../../layouts/Layout.astro';
import Form from '../../components/top-ladder/Form.astro';
import { db, Usuario } from 'astro:db';
import Resultados from '../../components/top-ladder/Resultados.astro';
const title = 'TFT - Top Ladder';

const usuarios = await db.select().from(Usuario);
console.log(usuarios);
---

<Layout title={title}>
  <main>
    <Form />
    <Resultados />
  </main>
</Layout>
