---
import Layout from '../../layouts/Layout.astro';
import Form from '../../components/top-ladder/Form.astro';
// import Filtro from '../../components/top-ladder/Filtro.astro';
import Filtro from '../../components/top-ladder/Filtro.jsx';
import Resultados from '../../components/top-ladder/Resultados.jsx';
const title = 'TFT - Top Ladder';
---

<Layout title={title}>
  <main>
    <!-- <Form /> -->
    <Filtro />
    <Resultados ></Resultados>
    <!-- <Filtro transition:persist="filtros-top-ladder" />
    <Resultados transition:persist="resultados-top-ladder" /> -->
      
  </main>
</Layout>
