---
import Layout from '../../layouts/Layout.astro';

import Filtro from '../../components/top-ladder/Filtro.jsx';
import Resultados from '../../components/top-ladder/Resultados.jsx';
const title = 'TFT - Top Ladder';
---
<!-- 
<Layout title={title}>
  <main>
    <Filtro />
    <Resultados ></Resultados>    
  </main>
</Layout> -->
