:root{
  --number-champ-tier-list:6;
  --gap-champ-tier-list:5px;
  --hex-border-little:1px;
}

.containerChampTierList{
  display: flex;
  position: relative;
  /* width: calc(100% / var(--number-champ-tier-list) - var(--gap-champ-tier-list) + (var(--gap-champ-tier-list) / var(--number-champ-tier-list)) );  */
  flex: 0 0 calc(100% / var(--number-champ-tier-list) - var(--gap-champ-tier-list) + (var(--gap-champ-tier-list) / var(--number-champ-tier-list)) ); /* Controla el tamaño sin forzarlo */
  height: fit-content;
  transition-duration: 0.5s;
  cursor: pointer;
  margin: 5px 0;
}
.containerChampTierList:hover{
  filter: drop-shadow(0px 0px 4px rgba(167, 94, 94, 0.9));
}



.containerSampleChampTierList{
  display: flex;
  position: relative;
  width: 100%; 
  height: fit-content;
}


.isActive{
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.9));
}

.poligonChampTierList{
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  aspect-ratio: 1.15 / 1.2;
  width: 100%;
  box-sizing: border-box;
  -webkit-overflow: visible;
  overflow: visible;
  
}

.container3estrellas{
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0%;
  overflow: hidden;
}

.img3estrellas{
  width: 100%;
}

/* .estrellas3::after{
  width: 100%;
  content: "★★★";
  position: absolute;
  top:0%;
  height: 100%;
  pointer-events: none;
  text-align: center;
  color: yellow;
  text-shadow: var(--text-shadow);
} */

.imgCampeonBuilder{
  position: absolute;
  top: var(--hex-border-little);
  left: var(--hex-border-little);
  width: calc(100% - var(--hex-border-little)* 2);
  height: calc(100% - var(--hex-border-little)* 2);
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  pointer-events: none;
}

.containerAumChampTierList{
  display: flex;
  position: absolute;
  /* width: var(--icon-size); */
  width: 30%;
  top:30%;
  right:0%;
  /* border-width: 1px;
  border-style: solid; */
  border-radius: 50%;
  overflow: hidden;
}

.imgAumChampTierList{
  display: flex;
  position: relative;
  width: 100%;
}

.containerItemsChampTierList{
  display: flex;
  position: absolute;
  width: 70%;
  bottom:0;
  left: 50%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  justify-content: center;
}
.itemsChampTierList{
  display: flex;
  position: relative;
  width: calc(100%/3);
}
.imgItemChampTierList{
  display: flex;
  width: 100%;
}
.containerTraitChampTierList{
  display: flex;
  position: absolute;
  /* width: var(--icon-size); */
  width: 30%;
  top:0;
  right:0%;
  /* border-width:calc(var(--hex-border)-0.1rem);
  border-style: solid; */
  border-radius: 50%;
  overflow: hidden;
}
.imgTraitChampTierList{
  display: flex;
  position: relative;
  width: 100%;
}