label{
  justify-content: flex-start;
  display:flex;
  flex-direction: column;
  gap:5px;
  padding:5px;
  border: 1px dashed rgb(61, 61, 61);
}

.formContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:10px
}

fieldset{
  border: 2px dotted rgb(53, 53, 53);
  border-radius: 5px;
}