.container{
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  
}
.containerBtnPestana{
  display: flex;
  flex-direction: row;
  flex:1;
  margin-top:20px;
  gap:5px
}

.btnPestanaSelected{
  background-color: green;
  color:white
}

.containerInfoPestana{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}