.minititulo{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 5px 0 10px 0;

}

@media only screen and (max-width:900px){
  .minititulo{
    font-size: 0.8em;
  }
}