<footer>
  <div class="footer">izquierda</div>
  <div class="footer">derecha</div>
</footer>

<style>
  footer {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16/9;
    box-sizing: border-box;
    flex-direction: column;
  }

  .footer {
    width: 100%;
    height: max-content;
    display: flex;
    position: relative;
    min-height: inherit;
    border: 1px solid white;
    box-sizing: border-box;
    flex: 1;
  }

  @media only screen and (min-width: 900px) {
    footer {
      width: 50%;
      flex-direction: row;
    }
    .footer {
    width: 50%;
    }
  }

</style>
