
<footer>
  <div class="footer">
    <article>
      <h1 class="titulo">GUIADEPARCHE</h1>
      <ul>
        <li>
          <p>Webpage:  <a href="https://guiadeparche.com/" target="_blank">guiadeparche.com</a></p>
        </li>
        <li>
          <p>Instagram: <a href="https://www.instagram.com/guiadeparche/" target="_blank">@guiadeparche</a></p>
        </li>
        <li>
          <p>Twitter: <a href="https://x.com/guiadeparche" target="_blank">@guiadeparche</a></p>
        </li>
        <li>
          <p>Discord: <a href="https://www.discord.gg/F8rsQrx" target="_blank">@guiadeparche</a></p>
        </li>
        <li>
          <p>Author: <a href="https://www.instagram.com/jorgelandradey" target="_blank">«Copyright» profesorjand</a></p>
        </li>
      </ul>
    </article>
  </div>
  <div class="footer">
    <article>
      <h1 class="titulo">JUPESON</h1>
      <ul>
        <li>
          <p>Twitch:  <a href="https://twitch.tv/jupeson" target="_blank">@Jupeson</a></p>
        </li>
        <li>
          <p>Youtube: <a href="https://www.youtube.com/jupeson" target="_blank">@Jupeson</a></p>
        </li>
        <li>
          <p>Instagram: <a href="https://www.instagram.com/jupeson/" target="_blank">@Jupeson</a></p>
        </li>
        <li>
          <p>Twitter: <a href="https://x.com/jupeson" target="_blank">@Jupeson</a></p>
        </li>
        <li>
          <p>TikTok: <a href="https://www.tiktok.com/@jupeson" target="_blank">@Jupeson</a></p>
        </li>
        <li>
          <p>Facebook: <a href="https://www.facebook.com/jupesongaming" target="_blank">@Jupesongaming</a></p>
        </li>
      </ul>
    </article>

  </div>
</footer>

<style>
  footer {
    display: flex;
    position: absolute;
    bottom:0;
    width: 100%;
    height:2.5rem;
    margin: 0 auto 10px auto;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    flex-direction: row;
  }
  .titulo{
    font-size:smaller;
    text-decoration: underline;
    text-underline-position: under;

  }

  .footer {
    width: 100%;
    flex-direction: column;
    height: max-content;
    display: flex;
    position: relative;
    min-height: inherit;
    box-sizing: border-box;
    flex: 1;
    gap:5px;
    padding:5px;
  }

  .footer p{
    margin: 0;
  }

  a{
    color:grey
  }
  a:visited{
    color:grey
  }

  ul{
    padding-inline-start: 1em;
    gap:5px;
    display:flex;
    flex-direction: column;

  }


  @media only screen and (min-width: 900px) {
    footer {
        width: 50%;
        flex-direction: row;
        margin: 0 auto;
        align-items: flex-start;
        left: 50%;
        transform: translateX(-50%);
    }
    .footer{
      width: 50%;
      aspect-ratio: 16 / 9;
    }

    .footer article{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .footer article h1{
      justify-content: flex-start;
      
      
    }
  }

</style>
