---
import Twitch from '@components/embed/Twitch';
---

<div class="footerContainer">
  <div class="footerContainerInfo">
    <Twitch client:only="react"/>
  </div>
  <div class="footerContainerInfo">
    <article>
      <h1 class="footerTitulo">GUIADEPARCHE</h1>
      <nav>
        <ul>
          <li>
            <p>Webpage:  <a href="https://guiadeparche.com/" target="_blank">guiadeparche.com</a></p>
          </li>
          <li>
            <p>Instagram: <a href="https://www.instagram.com/guiadeparche/" target="_blank">@guiadeparche</a></p>
          </li>
          <li>
            <p>Twitter: <a href="https://x.com/guiadeparche" target="_blank">@guiadeparche</a></p>
          </li>
          <li>
            <p>Discord: <a href="https://www.discord.gg/F8rsQrx" target="_blank">@guiadeparche</a></p>
          </li>
          <li>
            <p>Author: <a href="https://www.linkedin.com/in/profesorjand/" target="_blank">«Copyright» profesorjand</a></p>
          </li>
        </ul>
      </nav>
    </article>
  </div>
  <div class="footerContainerInfo">
    <article>
      <h1 class="footerTitulo">JUPESON</h1>
      <ul>
        <li>
          <p>Twitch:  <a href="https://twitch.tv/jupeson" target="_blank">@Jupeson</a></p>
        </li>
        <li>
          <p>Youtube: <a href="https://www.youtube.com/jupeson" target="_blank">@Jupeson</a></p>
        </li>
        <li>
          <p>Instagram: <a href="https://www.instagram.com/jupeson/" target="_blank">@Jupeson</a></p>
        </li>
        <li>
          <p>Twitter: <a href="https://x.com/jupeson" target="_blank">@Jupeson</a></p>
        </li>
        <li>
          <p>TikTok: <a href="https://www.tiktok.com/@jupeson" target="_blank">@Jupeson</a></p>
        </li>
        <li>
          <p>Facebook: <a href="https://www.facebook.com/jupesongaming" target="_blank">@Jupesongaming</a></p>
        </li>
      </ul>
    </article>
  </div>
</div>

<style>
  .footerContainer {
    justify-content: center;
    align-items: center;
    width: var(--width-main);
    flex-direction: row;
    display: flex;
    position: relative;
    box-sizing: border-box;
    gap:5px;
    padding:5px;
    /* height: 100%; */

  }
  article{
    display: flex;
    flex-direction: column;
    position:relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .footerContainerInfo{
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid red;
    flex:1;
    box-sizing: border-box;
  }
  .footerTitulo{
    font-size:smaller;
    text-decoration: underline;
    text-underline-position: under;
    box-sizing: border-box;
  }
  .footerContainerInfo p{
    margin: 0;
  }
  .footerContainerInfo a{
    color:var(--link-color-primary);
  }
  .footerContainerInfo a:visited{
    color:var(--link-color-secondary)
  }
  .footerContainerInfo ul{
    padding-inline-start: 2em;
    gap:5px;
    display:flex;
    flex-direction: column;
    margin:0;
    box-sizing: border-box;
  }
  @media only screen and (max-width:900px) {
    .footerContainer {
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    display: flex;
    position: relative;
    box-sizing: border-box;
    gap:5px;
    padding:5px;
    /* height: 100%; */

  }
  .footerContainerInfo{
    width: 100%;
  }
  }
</style>
