.modal{
    display: flex;
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.315);
    justify-content: center;
    align-items: center;
}
.imgCursor{
    display: flex;
    width: 100%;
    cursor:pointer;
}

.btnClose{
    display: flex;
    position:absolute;
    top:10px;
    right:100px;
    padding: 10px;
    background-color: black;
    color:white;
    border: 1px solid var(--border-color);
    cursor:pointer;
}

.modal > img {
    display: flex;
    width: 80%;
    height:auto;
}