---
import { Image } from 'astro:assets';
const { championsTier, index } = Astro.props;
---

<div class="containerChampionTierList">
  {
    championsTier.map(async (champTier, i) => {
      const src = champTier.ImgCampeon;
      const format = 'png' || 'jpg';
      const width = 100;
      const height = 100;
      return (
        <Image
          src={src}
          alt={champTier.Titulo}
          class={
            'imgChampionTierList' +
            (index === 0 && i === 0 ? ' imgSelected' : '')
          }
          width={width}
          height={height}
          loading="lazy"
        />
      );
    })
  }
</div>

<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const imgChampionTierList = document.querySelectorAll(
      '.imgChampionTierList'
    );
    imgChampionTierList.forEach((img) => {
      img.addEventListener('click', () => {
        if (document.querySelectorAll('.imgSelected').length) {
          document
            .querySelectorAll('.imgSelected')[0]
            .classList.remove('imgSelected');
        }
        img.classList.add('imgSelected');
        const id = img.getAttribute('alt').replaceAll(' ', '-');
        document
          .querySelectorAll('.infoComp.show')[0]
          ?.classList.remove('show'); // (".infoComp .show").classlist.remove("show")
        const containerInfo = document.getElementById(id)
        containerInfo.classList.add("show");
        const containerCompo = containerInfo.querySelector(".containerCompo");
        const compSelected = containerCompo.querySelector("img.show");
        compSelected?.classList.remove("show");
        const firstComp = containerCompo.querySelector("img");
        firstComp.classList.add("show");
        const champSelected = containerCompo.querySelector(".campeonEspatula.selected");
        champSelected.classList.remove("selected")
        const firtsChamp = containerCompo.querySelector(".campeonEspatula");
        firtsChamp.classList.add("selected")
      });
    });
  });
</script>

<style>
  .containerChampionTierList {
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
  }

  .imgChampionTierList:hover {
    cursor: pointer;
    transform: scale(1);
  }

  .imgChampionTierList {
    /* padding: 0px; */
    width: 20%;
    height: auto;
    box-sizing: border-box;
    /* height: calc(100% / 6); */
    /* max-width: 95px; */
    /* max-height: 200px; */
    /* min-width: 55px; */
    /* min-height: 55px; */
    transition: 0.5s;
    transform: scale(0.9);
  }

  .imgSelected {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transform: scale(1);
    transition: 0.5s;
  }
</style>
