---
import { Image } from "astro:assets"
const { key } = Astro.props;
var src =
  'https://guiadeparche.com/tftdata/Set11/metaComps/tier/Tier-' + key + '.jpg';

if(key.includes("Alternativa")){
  const valor = key.split("-")[1]
  src = 'https://guiadeparche.com/tftdata/Set11/metaComps/tier/Tier-' +  valor + '.jpg';
}
---

<div class="Tier">
  <Image 
    src={src}
    alt={'TFT Tier-' + key}
    class="imgTier"
    loading="lazy"
    inferSize={true}
  />
</div>

<style>
  .Tier {
    margin: 0;
    font-weight: 600;
    font-size: xx-large;
    width: 20%;
    display: block;
  }
  .imgTier {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
</style>
