---
const {Tips} = Astro.props;
const arrayTexto = Tips.split("\n");
---

{arrayTexto.map((texto)=>{
    return(<p class="textoTips">{texto}</p>)
})}

<style>
    .textoTips{
        display: flex;
        padding: 0 1rem;
        margin: 5px 0;
    }
</style>