.container{
  display: flex;
  position: relative;
  flex-direction: column;
}

.infografiaContainer{
  width: 100%;
  display: flex;
  position:relative;
  flex-direction: column;
  aspect-ratio: 4 / 5;
  width: 100%;
  background-color: #000000;
}

.header{
  height: 15%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  container-type:size;
}

.containerTitulo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  padding: 1rem 0;
  box-sizing: border-box;
  container-type:size;

}

.titulo{
  font-size: 50cqh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
  white-space: pre-line;
  height: 50%;
  display: flex;
}

.titulo2{
  font-size: 25cqh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
  white-space: pre-line;
  height: 25%;
}

.containerFecha{
  display: flex;
  background-color: #527476;
  color:#ffffff;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  container-type:size;
  height: 20%;
}

.fecha{
  display: flex;
  color:#ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 60cqh;
  align-items: center;
}

.spotifyMiniLogo{
  vertical-align: middle;
  height: 1em; 
   width: auto; 
  object-fit: contain;
  margin-left:5px
}

.containerAllArtist{
  height: 72%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.containerArtista{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  box-sizing: border-box;
  overflow: hidden; 
  z-index: 1;
  position: relative; 
  flex: 0 0 50%;
}

.containerNumeracion{
  /* background-color:white;
  background-clip: text; */
  display: flex;
  position:absolute;
  top:0;
  left:0;
  width: 10%;
  height: auto;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  color:rgb(252, 252, 252);
  border-radius: 50%;
  container-type: inline-size;
  /* opacity: 0.5; */
}

.numeracion{
  font-size: clamp(12px, 50cqw, 120px);
}

.containerPerfilArtista{
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 10px 10px 20px; /* 🔥 margen interno alrededor del círculo */
  box-sizing: border-box;
}

.circle{
  width: 100%;
  aspect-ratio: 1 / 1;   /* 🔥 mantiene cuadrado */
  border-radius: 50%;    /* 🔥 círculo */
  overflow: hidden;      /* 🔥 recorte perfecto */
}

.perfilArtista{
  width: 100%;
  height: 100%;
  object-fit: cover;     /* 🔥 rellena sin deformar */
}


.backgroundArtista{
 position: absolute;

  top: 50%;
  left: 0%;

  width: 100%;
  height: auto;

  min-height: 120%; /* 🔥 clave */
  transform: translate(0, -50%);
  object-fit: cover;

  z-index: 0;
}

.containerInfoArtista{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 65%;
  justify-content: center;
  container-type: inline-size;
}

.containerInfoArtistaMusic{
  padding: 0.5rem;
  gap: 0.5rem;
}


.containerNameOfArtist{
  display: flex;
  width: 100%;
  flex: 1;
  container-type:size;
  white-space: nowrap;      /* 🔥 siempre 1 línea */
  overflow: hidden;         /* 🔥 evita que se salga */
  text-overflow: ellipsis;  /* 🔥 agrega ... si no entra */
  font-family: 'Open Sans Condensed', sans-serif;
}


.nameOfArtist{
  flex-direction: column;
  font-weight: 600;
  text-align: center;
  font-size: 7cqw;
  text-wrap: "wrap";
  align-items: flex-end;
  display: flex;
}



.nameOfArtistMusic{
  align-items: center;
  justify-content: center;
  width: 100%;

}

.containerNameOfSong{
  display: flex;
  width: 100%;
  flex: 2;
  container-type: size;
  justify-content: center;
}

.nameOfSong{
  height: 100%;
  text-align: center;
  font-size: 45cqh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display:flex;
}

.containerMonthlyListener{
  display:flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  container-type: size;
  flex:4;
}

.monthlyListener{
  height: 100%;
  font-size: 100cqh;
  align-items: flex-start;
      line-height: 1;
}


.footer{
  height: 13%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 2rem 5px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
}

.containerLogo{
  display: flex;
  position: relative;
  height: 100%;
  justify-content: center;
}

.logo{
  display: flex;
  position: relative;
  width: 100%;
  object-fit: contain;

}
