---
import Header from '../components/headers/Header.astro';
import Footer from '../components/footer/Footer.astro';
import Twitch from '../components/embed/Twitch.jsx';
import Logo from '../components/logo/Logo.astro';
import Adsense from '../components/adsense/Adsense.jsx';
import { ViewTransitions } from 'astro:transitions';
interface Props {
  title: string;
  JSONSchema?: string;
}
const { title, JSONSchema } = Astro.props;


---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- google search console -->
    <meta name="google-site-verification" content="VXzuc6CSTiTOeduk03n_uh0IUkgaBHkJAhQdtam2md0" />
    <!-- google analitics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-69PWGWV8LZ"></script>
    <script>
      declare global {
        interface Window {
          dataLayer: any[];
        }
        function gtag(...args: any[]): void;
      }
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-69PWGWV8LZ');
    </script>
    <!-- google ads mobile -->
   <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js" is:inline></script>
    <!-- google ads -->
   <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6116944495372863"
    crossorigin="anonymous" is:inline></script>
    <link rel="icon" type="image/png" href={(await import("/src/assets/GP_logo.png")).default.src} />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="author" content="Jupeson, Profesorjand">
     <!-- Schema Script -->
    {JSONSchema && <script type="application/ld+json" set:html={JSONSchema}></script>}

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="bodyLayout">
      
      <header class="bodyHeader">
        <Logo>Guiadeparche</Logo>
        <Header transition:persist/>
      </header> 

      <div class="bodyInfo">
        <aside class="bodyAside">

        </aside>

        <main class="bodyMain">
          <aside class="bodyMainAside">
            <div class="bodyMainAsideSticky">
              <div class="bodyMainAsideMenu">
                <slot name="bodyMainAside"></slot>
              </div>
              <div class="bodyMainAsideEmbed">
                <slot name="bodyMainAsideTwitch"></slot>
                
                
                <ads class="bodyMainAsideAds">
                  <slot name="bodyMainAsideAds"></slot>
                </ads>
              </div>
            </div>
          </aside>
          <section class="bodyMainSection">
            <slot></slot>
          </section>
        </main>

        <aside class="bodyAside">

        </aside>
      </div>

      <footer class="bodyFooter">
        <Footer></Footer>
      </footer>
    </div>
  </body>
</html>

<style is:global>

  :root {
    --bg-primary: #130359;
    --bg-secondary: #1e197f;
    --bg-tertiary: #120d69;
    --bg-main: #0c023a;
    --color-primary: #cfcfcf;
    --color-white:#cfcfcf;
    --color-black:#1f1f1f;
    --border-color: #ffd700;
    --border-gray-color: grey;
    --text-color-white-primary: #e5e5e5;
    --text-color-white-secondary: #e5e5e5;
    --link-color-primary:brown;
    --link-color-secondary:rgb(105, 27, 27);
    --width-main: 70vw;
    --height-header: 8vh;
    --height-footer: 20vh;
    --number-champ-meta: calc(100%/6);
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    font-family: Sans-serif;
    color: var(--text-color-white-primary);
  }

  body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background: var(--bg-primary); /* color of the tracking area */
  }

  body::-webkit-scrollbar-thumb {
    background-color: blue; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 2px solid var(--border-color); /* creates padding around scroll thumb */
  }
  body {
    background-color: var(--bg-primary);
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .midSection{
    display:flex;
    position: relative;
    flex-direction: row;
    width: 100%;
  }
  .hide {
    display: none;
  }
  h1{
    text-align: center;
    text-decoration: underline var(--border-color);
    font-size: 2rem;
  }
  h2{
    text-align: center;
  }
  .adsbygoogle{
    z-index: 1 !important;
  }
  #google-anno-sa{
    display: none;
  }

  .bodyMain{
    background-color: var(--bg-main);
  }


  @media only screen and (max-width: 900px) {
    .bodyLayout{
      display: flex;
      position: relative;
      width: 100vw;
      flex-direction: column;
    }
    .bodyHeader{
      display: flex;
      position: sticky;
      z-index: 9;
      top:0;
      width: 100vw;
      max-width: 100%;
      height: var(--height-header);
      background-color: var(--bg-primary);
      flex-direction: row;
    }
    .bodyInfo{
      display: flex;
      width: 100vw;
      max-width: 100%;
      position: relative;
      flex-direction: column;
      height: 100%;
      min-height: 92vh;
    }
    .bodyAside{
      display: flex;
      width: 100%;
      /* background-color: aqua; */
    }
    .bodyMain{
      display: flex;
      width: 100%;
      position: relative;
      flex-direction: column;
    }
    .bodyMainAside{
      display: flex;
      position: relative;
      flex-direction: column;
      width: 100%;
      order:2
    }
    .bodyMainAsideSticky{
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: var(--bg-secondary);
      width: 100%;
      box-sizing: border-box;
      gap:5px;
      justify-content: space-between;
    }
    .bodyMainAsideMenu{
      display: flex;
      position: relative;
      flex-direction: column;
      box-sizing: border-box;
    }
    .bodyMainAsideEmbed{
      display: flex;
      flex-direction: column;
      position: relative;
      box-sizing: border-box;
      gap:5px;
    }
    .bodyMainAsideAds{
      display: flex;
      position:relative;
      width: 100%;
    }
    .bodyMainSection{
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      background-color: var(--bg-main);
    }
    .bodyFooter{
      display: flex;
      position: relative;
      justify-content: center;
      width: 100vw;
      max-width: 100%;
      /* height: var(--height-footer); */
      /* bottom:0; */
    }
    main{
      width: 100%;
    }
    .midSection{
      display:flex;
      position: relative;
      flex-direction: column;
    }
    h1, h2, h3, h4{
      font-size: 1rem;
    }
  }

  @media only screen and (min-width:900px) {
    .bodyLayout{
      display: flex;
      position: relative;
      margin:0;
      padding: 0;
      width: 100vw;
      max-width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* padding-bottom: var(--height-footer); */
    }
    .bodyHeader{
      display: flex;
      position: sticky;
      z-index: 9;
      top:0;
      width: 100vw;
      max-width: 100%;
      height: var(--height-header);
      background-color: var(--bg-primary);
      flex-direction: row;
    }
    .bodyInfo{
      display: flex;
      width: 100vw;
      max-width: 100%;
      position: relative;
      flex-direction: row;
      height: 100%;
      min-height: 92vh;
      /* background-color: #ffd700; */
    }
    .bodyAside{
      display: flex;
      width: calc((100vw - var(--width-main))/2);
      /* background-color: aqua; */
    }
    .bodyMain{
      display: flex;
      width: var(--width-main);
      position: relative;
      flex-direction: row;
    }
    .bodyMainAside{
      display: flex;
      position: relative;
      flex-direction: column;
      width: calc(var(--width-main)/3);
    }

    .bodyMainAsideSticky{
      display: flex;
      flex-direction: column;
      position: -webkit-sticky;
      position: sticky;
      top:var(--height-header);
      background-color: var(--bg-secondary);
      width: calc(var(--width-main)/3);
      box-sizing: border-box;
      gap:5px;
      height:92vh;
      justify-content: space-between;
    }

    .bodyMainAsideMenu{
      display: flex;
      position: relative;
      flex-direction: column;
      box-sizing: border-box;
    }

    .bodyMainAsideEmbed{
      display: flex;
      flex-direction: column;
      position: relative;
      box-sizing: border-box;
      gap:5px;
    }
    .bodyMainAsideAds{
      display: flex;
      position:relative;
      width: 100%;
      aspect-ratio: 16/9;
    }

    .bodyMainSection{
      display: flex;
      flex-direction: column;
      position: relative;
      width: calc(var(--width-main)*2/3);
      background-color: var(--bg-main);
    }

    .bodyFooter{
      display: flex;
      position: relative;
      justify-content: center;
      width: 100vw;
      max-width: 100%;
    }
  }
</style>