---
import Header from '../components/headers/Header.astro';
import Footer from '../components/footer/Footer.astro';
import Twitch from '../components/embed/Twitch.jsx';
import Logo from '../components/logo/Logo.astro';
import Adsense from '../components/adsense/Adsense.astro';
import { ViewTransitions } from 'astro:transitions';
interface Props {
  title: string;
  JSONSchema?: string;
}
const { title, JSONSchema } = Astro.props;


---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- google search console -->
    <meta name="google-site-verification" content="VXzuc6CSTiTOeduk03n_uh0IUkgaBHkJAhQdtam2md0" />
    <!-- google analitics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-69PWGWV8LZ"></script>
    <script>
      declare global {
        interface Window {
          dataLayer: any[];
        }
        function gtag(...args: any[]): void;
      }
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-69PWGWV8LZ');
    </script>
    <!-- google ads mobile -->
   <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js" is:inline></script>
    <!-- google ads -->
   <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6116944495372863"
    crossorigin="anonymous" is:inline></script>
    <link rel="icon" type="image/png" href={(await import("/src/assets/GP_logo.png")).default.src} />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="author" content="Jupeson, Profesorjand">
     <!-- Schema Script -->
    {JSONSchema && <script type="application/ld+json" set:html={JSONSchema}></script>}

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header transition:persist/>
    <Adsense direction={"left"} dimension={"vertical"} transition:persist/>
    <div transition:persist>
      <Twitch client:only="react"/>
    </div>
    <Adsense direction={"right"} dimension={"vertical"} transition:persist/>
    <Footer />
    <Logo />
    <div transition:animate="fade">
      <slot />
    </div>

  </body>
</html>

<style is:global>
  :root {
    --bg-primary: #130359;
    --bg-secondary: #1e197f;
    --bg-tertiary: #120d69;
    --color-primary: #ffffff;
    --border-color: #ffd700;
    --number-champ-meta: calc(100%/5);
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    font-family: 'Roboto', Sans-serif;
    
    color: var(--color-primary);
  }

  body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background: var(--bg-primary); /* color of the tracking area */
  }

  body::-webkit-scrollbar-thumb {
    background-color: blue; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 2px solid var(--border-color); /* creates padding around scroll thumb */
  }
  body {
    background-color: var(--bg-primary);
    overflow-y: scroll;
    margin: 0;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: fit-content;
    min-height: 100vh;
    padding-bottom: 2.5rem;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 2rem;
    text-align: center;
  }
  .midSection{
    display:flex;
    position: relative;
    flex-direction: row;
    width: 100%;
  }
  .hide {
    display: none;
  }

  @media only screen and (max-width: 900px) {
    html {
      background-size: 50px 50px;
    }
    main{
      width: 100%;
    }
    .midSection{
      display:flex;
      position: relative;
      flex-direction: column;
    }
  }
</style>