---
import Header from '../components/headers/Header.astro';
import Footer from '../components/footer/Footer.astro';
import Twitch from '../components/embed/Twitch.astro';
import Logo from '../components/logo/Logo.astro';
import Adsense from '../components/adsense/Adsense.astro';
import { ViewTransitions } from 'astro:transitions';
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Las mejores Guías de Teamfight Tactics TFT"
    />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/GP_logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header transition:persist />
    <slot />
    <Footer />
    <Twitch transition:persist />
    <Logo />
    <Adsense />
    <style is:global>
      :root {
        --bg-primary: #130359;
        --bg-secondary: #1e197f;
        --bg-tertiary: #120d69;
        --color-primary: #ffffff;
        --border-color: #ffd700;
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
        width: 100%;
        display: flex;
        position: relative;
        box-sizing: border-box;
      }
      html {
        font-family: 'Roboto', Sans-serif;
        background-color: var(--bg-primary);
        color: var(--color-primary);
        overflow-y: scroll;
      }

      body::-webkit-scrollbar {
        width: 12px; /* width of the entire scrollbar */
      }

      body::-webkit-scrollbar-track {
        background: var(--bg-primary); /* color of the tracking area */
      }

      body::-webkit-scrollbar-thumb {
        background-color: blue; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 2px solid var(--border-color); /* creates padding around scroll thumb */
      }
      body {
        margin: 0;
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        min-width: fit-content;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
      main {
        margin: auto;
        padding: 1rem;
        width: 50%;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
        background-color: var(--bg-tertiary);
        box-sizing: border-box;
      }

      .titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }
      .hide {
        display: none;
      }

      @media only screen and (max-width: 900px) {
        main {
          width: 100%;
        }
      }

      @media only screen and (max-width: 900px) {
        html {
          background-size: 50px 50px;
        }
      }
    </style>
  </body>
</html>

