---
const { key } = Astro.props;
---

<div class="Tier">
  <img
    src={'https://guiadeparche.com/tftdata/Set11/metaComps/tier/Tier-' +
      key +
      '.jpg'}
    alt={'TFT Tier-' + key}
    class="imgTier"
  />
</div>

<style>
  .Tier {
    margin: 0;
    font-weight: 600;
    font-size: xx-large;
    width: 20%;
    display: block;
  }
  .imgTier {
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
</style>
