---
import { Image } from 'astro:assets';
const { key } = Astro.props;
---

<div class="Tier">
  <Image
    src={'https://guiadeparche.com/tftdata/Set11/metaComps/tier/Tier-' +
      key +
      '.jpg'}
    alt={'TFT Tier-' + key}
    class="imgTier"
    width={100}
    height={100}
    loading="lazy"
    decoding="async"
    inferSize={true}
  />
</div>

<style>
  .Tier {
    margin: 0;
    font-weight: 600;
    font-size: xx-large;
    width: 20%;
    display: block;
  }
  .imgTier {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
</style>
